@charset "UTF-8";
.list-title {
    bottom: 10%;
}
.h1tag {
    margin: 0;
}
.thumbnail.shop {
    background-color: #F0EFEB;
}
.product-cat .page-title {
    font-size: 18px;
}
.list-detail li img {
    /*width: 100%;*/
}
.bg-default {
    padding: 15px 0px;
}
.captcha-left {
    width: 20%;
    height: 100%;
}
.captcha-right {
    width: 79.2%;
}

.lang-kr {
    border-right: none !important;
}

.lang-en {
    display: none !important;
}

.ourservice .panel-body {
    min-height: 170px;
}

.body-services {
    min-height: 170px;
}

.user-logged-in {
    position: relative;
    top: 30px;
}

#blockCategory {
    display: none;
}

.content-about {
    color: #B26B24;
    margin-bottom: 20px;
}

.tel {
    color: #ffffff;
}

.topmenu ul {
    text-transform: uppercase;
}

.content-philosophy {
    overflow:hidden;
}

.philosophy-img {
    display: inline;
    margin: 5px;
    height: 140px;
    width: 270px;
    float: left;
}

@media (max-width: 992px) {
    .philosophy-img {
        display: block;
        margin: 5px;
        height: 140px;
        width: 270px;
        float: none;
    }
}

@media (max-width: 767px) {
    .captcha-right {
        width: 79%;
    }
    .user-logged-in {
        position: relative;
        top: 50px;
    }
}

@media (max-width: 600px) {
    #wpadminbar {
        position: fixed !important;
        top: 0;
    }
}

@media (max-width: 410px) {
    .captcha-right {
        width: 78.9%;
    }
}