@charset "UTF-8";
/* CSS Document */
@media (min-width: 768px) and (max-width: 991px) {.navbar-brand .img-responsive{height:69px;width:auto;transition: all 0.5s ease;margin-top: 10px;}.panel-facebook{margin-top:10px;}.center-block{text-align:center}}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (max-width: 767px){
.center-block{text-align:center}
.navbar-brand{padding: 0px 0px 0px 10px !important;}
.navbar-default .navbar-nav > li > a {line-height:normal !important;}
.navbar-nav {margin: 0px -15px 0px -15px;}
.navbar-brand .img-responsive{height:45px;width:auto;transition: all 0.5s ease;}
.topic .thumbnail {height: auto !important;}
.topic{margin-top:-50px !important}
dl.dl-horizontal a dt,.dl-contact dt{width:inherit !important;text-align:center !important}
dl.dl-horizontal a dd,.dl-contact dd{margin-left:0px !important;text-align:center !important}
.block-right{margin-top:15px;}
body{padding-top:50px !important;}
.panel-facebook{margin-top:10px;}
.navbar-fixed-top .select-lang{top:7px !important;right:50px !important}
.course .view .viewdetail{top:25% !important;left:38% !important;}
.heading{font-size:2vw !important;  margin: 10px 0px 10px 0px !important;}
.heading span abbr{font-size:6.5vw !important;}
.heading:before {content:normal !important}
.heading:after {content:normal !important}
}
body{background-color:#E7E7E7;padding-top:115px;}
body,.btn{font-family: Georgia, serif;font-size: 14px;line-height: 26px;}
.body-parttern{background:url(../images/bg.gif);}
dl{margin-bottom:10px}
dt,dl{font-size:14px;}
.dl-contact dt{width:100px;}
.dl-contact dd{margin-left:110px;text-align:left;word-wrap: break-word;}
.dl-topic dt{width:120px;margin-right: 10px;}
.dl-topic dd{white-space:normal;margin:inherit}
ul li a{font-size:12px;color:#000000}
a{color:#000000}
a:hover{text-decoration:none}
header .row{padding:10px 0px 10px 0px}
ul,li{list-style:none;padding:0;margin:0}
.topic p{text-align:justify;color:#000000}
.caption p.excerpt{text-align:center;margin-top:10px;color:#FFFFFF;white-space: normal;}
.panel-heading h3{color:#000;font-size:12px;margin:0px}
.form-control{border-radius:0px;}
.form-horizontal .form-control{margin-bottom:10px;}
.btn{border-radius:0px;margin-bottom:10px;}
.btn-default{background-color:#000000;color:#FFFFFF;border-color:#000000}
.btn-primary{background-color:#f20000;color:#FFFFFF;border-color:#f20000}
.btn-primary:hover{background-color:#fff;color:#000;border-color:#fff}
.alert-default{background-color:#f5f5f5;font-weight:bold}
.alert-default th,.alert-default td{line-height:25px !important;}
label{font-weight:normal}
.bg-default{background-color:#e5e5e5;padding:15px;}
.show-grid{margin-bottom:15px;}
.panel{border-radius:0px;margin-bottom:10px;}
.panel-heading{border-radius:0px;}
.more .fa{ color: #fff;font-size: 12px;margin-left: 5px;}
.thumbnail>.fa{background-color: #000;border-radius: 50%;line-height:70px;width:70px;height:70px;color:#FFFFFF;font-size:25px;margin-top:15px;}
.thumbnail h3{font-size:20px;  margin-top: 10px;}
#map-canvas{height:235px;width:auto;}
.media-body{background-color:#000000;height:315px;}
.media-body iframe{position: relative;z-index:1}
.media-body .fa{color:#fff;position: absolute;top: 43%;left: 47%;}
.staffInfo{background-color:#000000;padding:30px 15px;}
.staffInfo .bdMask{background:url(../images/bd-staff.jpg) center center no-repeat;}
.staffInfo .mask{width:187px;height:164px;-webkit-mask-box-image: url(../images/bg-staff.png);display:table-cell;table-layout:fixed;vertical-align:middle}
/*----------Jssor Slider-------------*/
.slider-caption{position: absolute; width:600px;bottom:25px; left:650px; padding:10px;text-align: center; line-height:36px; text-transform: uppercase; font-size:24px;color: #FFFFFF;background-color:#000000}
.jssorb21 {position: absolute;}
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {position: absolute;width: 19px;height: 19px;text-align: center;line-height: 19px;color: white;font-size: 12px;background: url(../images/controls/b21.png) no-repeat;overflow: hidden;cursor: pointer;}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }

.jssora21l, .jssora21r {display: block;position: absolute;width: 55px;height: 55px;cursor: pointer;background: url(../images/controls/a21.png) center center no-repeat;overflow: hidden;}
.jssora21l { background-position: -3px -33px; }
.jssora21r { background-position: -63px -33px; }
.jssora21l:hover { background-position: -123px -33px; }
.jssora21r:hover { background-position: -183px -33px; }
.jssora21l.jssora21ldn { background-position: -243px -33px; }
.jssora21r.jssora21rdn { background-position: -303px -33px; }
/*----------Jssor Slider footer-------------*/
.jssorb03 {position: absolute;}
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
position: absolute;width: 21px;height: 21px;text-align: center;line-height: 21px;color: white;font-size: 12px;background: url(../images/controls/b03.png) no-repeat;overflow: hidden;cursor: pointer;}
.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }
.jssora03l, .jssora03r {display: block;position: absolute;width: 55px;height: 55px;cursor: pointer;background: url(../images/controls/a03.png) no-repeat;overflow: hidden;}
.jssora03l { background-position: -3px -33px; }
.jssora03r { background-position: -63px -33px; }
.jssora03l:hover { background-position: -123px -33px; }
.jssora03r:hover { background-position: -183px -33px; }
.jssora03l.jssora03ldn { background-position: -243px -33px; }
.jssora03r.jssora03rdn { background-position: -303px -33px; }
/*--------------------------*/
.highlight {background-color: #fff;}
.highlight h3{padding-top:10px;}
hr{border-color:#C8C8C8;margin:10px 0px}
/*----------Tab-------------*/
.color-red{color:#F20000}
.tab-pane{padding-top:10px}
.nav-tabs{background-color:#ededed}
.nav-tabs > li > a{border-radius:0px;margin-right:1px;color:#000000}

.nav-subtab{padding-top:0px;}
.nav-subtab ul{background-color:#FFFFFF;border-width:0px 1px 1px 1px;border-style:solid;border-color:#fff #ddd #ddd #ddd;text-align:center;font-size: 14px;}
.nav-subtab ul li{float:none;display:inline-block;margin:0px 10px 0px 10px}
.nav-subtab ul li .fa{margin-right:10px;}
.nav-subtab ul li a,.nav-subtab ul li:first-child a{border:0px;}
.nav-subtab ul li.active a,.nav-subtab ul li.active>a:focus,.nav-subtab ul li a:hover,.nav-subtab ul li:first-child a:hover{border:0px;color:#1fa7ed;background-color:#fff}
.nav > li > a:hover, .nav > li > a:focus{background-color:#FFFFFF}
.nav-tabs > li > a:hover {border-color: #ddd #ddd #ddd;}
.nav-tabs > li.disabled > a:hover {border-color: #fff #fff #ddd #fff;}
/*----------Top menu-------------*/
.navbar-brand{margin-left:5px !important;margin-right:10px;padding: 10px 10px;color:#ffffff !important}
.navbar-brand .fa{color:#FFFFFF;font-size:30px;margin-left:5px;}
.navbar-default .navbar-nav > li > a { color: #FFF;font-size:11px;  line-height: 85px;}
.navbar-default .navbar-nav li{transition: all .5s linear;-o-transition: all .5s linear;-moz-transition: all .5s linear;-webkit-transition: all .5s linear;}
.navbar-default .navbar-nav li:hover{background-color:#f20000;cursor:pointer}
.navbar-default{border:none}
.navbar{margin:0px;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.28);}

.navbar-default{background:#000;border-radius: 0px;}
.navbar-default .navbar-toggle {border-color: #FFF;}
.navbar-default .navbar-toggle .icon-bar {background-color: #FFF;}
.navbar-default .navbar-toggle:hover{background-color:#953436}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color:transparent}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border:none;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {color: #000000;background-color: #f20000;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {color: #000;background-color: #F20000;}
.navbar-default .navbar-toggle {border:none}
.navbar-toggle{padding:7px 0px}

.navbar-nav > li > .dropdown-menu {border-radius:0px;background-color:#F20000;border:none;left:0px}
.navbar-nav > li > .dropdown-menu li{}
.navbar-nav > li > .dropdown-menu li a{color:#FFFFFF;text-decoration:none;font-size:12px;line-height:35px;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {color: #000000;}

.sub-menu{display:none;position:absolute;background-color:#F20000;padding:15px;width:185px;}
.sub-menu li{display:block;border:none !important}
.sub-menu li a{color:#FFFFFF;text-decoration:none;font-size:12px;display:block;}
.navbar-default .navbar-nav li:hover .sub-menu{display:inline-block;top:115px;}
/*----------Footer-------------*/
.doc-footer{background-color:#292525}
.footer-menu{margin:20px 0px 10px 0px}
.footer-menu li{display:inline;padding:0 5px;border-right: 1px solid #000000}
.footer-menu li a{color:#ffffff;font-size:12px;}
.footer-menu li a:hover{color:#F20000;text-decoration:none}
.footer-menu li:last-child{border-right:none}
.theme-position{position:relative;top:300px;}
.socials {float: right;right: 50%;position: relative;margin-left: auto;margin-right: auto}
.socials_wrapper {float: left;left: 50%;position: relative;}
.socials a {float: left;display: block;width:35px;height:35px;margin-left: 7px;margin-right: 7px;font-size:15px;line-height:35px;text-align: center;text-decoration: none;border: 2px solid #fff;border-radius: 50%;transition: border-color ease 0.4s}
.socials .fa{color:#000;background-color:#FFFFFF}
.socials a:hover {color: #ffffff;background-color: #F20000;border-color: #F20000;}
.footer-privacy,.footer-privacy a {padding-top:15px;text-align: center;font-size: 12px;line-height:30px;color:#ffffff}
/*----------Menu page-------------*/
.blockgallery{display:block;content:"";background:url(../images/bg_image.jpg) center 0;color:#FFFFFF;padding-top:30px;}
.blockgallery h4{color:#F20000}
.blockgallery .btn{margin-bottom:30px;}
.thumbnail {border:none;border-radius:0px;}
.bgzoom{height:151px;width:151px;background-color:#000000;display:table;transition: all 0.5s ease;}
.bgzoom img{transition: all .5s linear;-o-transition: all .5s linear;-moz-transition: all .5s linear;-webkit-transition: all .5s linear;max-height:151px;}
.bgzoom:hover img{opacity:0.1;}
.bgzoom .fa{position:absolute;font-size:36px;left: 60.5px;top: 60.5px;visibility:hidden;transition: all .5s ease-in;-o-transition: all .5s ease-in;-moz-transition: all .5s ease-in;-webkit-transition: all .5s ease-in;}
.bgzoom:hover .fa{color:#FFFFFF;font-weight:normal;visibility:visible}
/*----------Topic-------------*/
.topic{margin-top:-100px}
.topic .thumbnail{height:330px;}
.block-right{height: 388px; overflow: hidden;}
.block-right ul li{border-bottom:dotted 1px #464244;line-height:35px;}
.topvideo li{line-height:30px;}
.topvideo li a{display:block;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.topvideo .fa-circle-bg{border-radius:50%;background-color:#f20000;height:25px;width:25px;text-align:center;vertical-align:middle;color:#FFFFFF;line-height:25px;margin-right:5px;}

.heading:before,.heading:after{content: "";height:5px;border-bottom: 1px solid #bcbcbc;width:5%;display: inline-block;margin-bottom:5px;}
.heading:before {}
.heading:after {}
.heading{line-height: 55px;color: #000000;text-align: center;font-size: 50px;margin-bottom: 30px;}
.heading span{line-height: 40px;color:#ffffff;font-size:14px;text-transform:uppercase;}
.heading span abbr{font-size: 45px;text-shadow: 1px 1px 3px #000000;color:#ffffff;}

/*----------Popup Quick Contact-------------*/
.bg-quick-contact{position:fixed;bottom:0px;vertical-align:middle;background-color:#f20000;padding:10px;word-wrap: break-word;word-break: break-word;display:block;left:15px;}
.quick-contact .fa{margin-right:5px;}
.quick-contact .fa, .quick-contact a{font-size:24px;color: #FFF;}
.quick-contact a:hover{text-decoration:none}
.quick-contact p{font-size: 18px;margin:5px 0px 5px 0px;color: #fff;}
.quick-contact .alert {padding:10px;margin-bottom:0px;border:none;border-radius:0px;}
.quick-contact abbr,.quick-contact abbr:hover,.quick-contact abbr:focus{border:none;text-decoration:none}
.quick-contact hr{border-width:1px 0px 1px 0px;border-style:solid;border-color:#B80000 #FFFFFF #FF4242 #000000}

/*----------About page-------------*/
.title h3{}
.title-detail small{margin-left:5px;font-weight: normal;}
h3.title-detail{font-size:24px;}
/*----------Lang style-------------*/
.navbar-fixed-top .select-lang{position: absolute;right: 15px;top: 115px;background-color: #000000;padding:0px 10px 4px 10px}
.navbar-fixed-top .select-lang li{display:inline;top:115px;}
/*----------Course page-------------*/
.course{background-color:#000000;margin-bottom:15px;box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.11);position: relative;}
.course .caption{padding:15px;background-color:#ffffff}
.course .caption h4 .line{width: 100px;height: 3px;background-color: #dadada;}
.course .caption p{text-align:center;overflow:hidden;text-overflow:ellipsis;margin-top:10px;white-space:pre}
.quote p{text-align:center;}
.quote p .fa-quote-left{margin-right:10px;}
.quote p .fa-quote-right{margin-left:10px;}
.course .view{background-color:#000000;height:262px;display:inline-table;table-layout:fixed;vertical-align:top}
.course .view:after{content:'[ Detail ]';position:absolute;width:100%;left:0px;top:30%;color:#ffffff;font-size:24px;opacity:1;z-index:0}
.course .view a{transition: all .5s linear;-o-transition: all .5s linear;-moz-transition: all .5s linear;-webkit-transition: all .5s linear;display:table-cell;z-index:1;vertical-align:middle;position:relative}
.course .view a img{width: 100%;}
.course .view a:hover{opacity:0.1;}
.course .caption h4 a{position: relative;padding: 0px 0px 5px;color: #111111;font-size: 18px;line-height: 24px;text-transform: uppercase;}
.course .caption h4 a:before {content: '[';position:relative;top: 0px;left: 0px;opacity:0;visibility:hidden;color: #e45914;font-size: 20px;
-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;-ms-transition: all 0.3s ease-in-out 0s;
-o-transition: all 0.3s ease-in-out 0s;transition: all 0.3s ease-in-out 0s;
}
.course .caption h4 a:hover:before{opacity:1;left:-3px;visibility:visible;}
.course .caption h4 a:hover:after{opacity:1;right:-3px;visibility:visible;}
.course .caption h4 a:after {content: ']';position:relative;bottom: 0px;right: 0px;opacity:0;visibility:hidden;color: #e45914;font-size: 20px;
-webkit-transition: all 0.3s ease-in-out 0s;-moz-transition: all 0.3s ease-in-out 0s;
-ms-transition: all 0.3s ease-in-out 0s;-o-transition: all 0.3s ease-in-out 0s;transition: all 0.3s ease-in-out 0s;
}
/*----------Gallery page-------------*/
.gallery{margin-bottom:15px;box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.11);}
.gallery .view{background-color:#000000}
.gallery .view img{min-height:153.75px;}
.gallery .view:after{content:'\f144';position:absolute;width:100%;left:0px;top:25%;color:#ffffff;font: normal normal normal 60px/1 FontAwesome;}
.gallery .view a{transition: all .5s linear;-o-transition: all .5s linear;-moz-transition: all .5s linear;-webkit-transition: all .5s linear;display:block;position:relative;z-index:1}
.gallery .view a:hover{opacity:0.1;}
.img-thumbnail{border-radius:0px;margin-bottom:10px}
/*----------Contact page-------------*/
.dl-contact-form dd,.dl-contact-form dt{}
.panel-edit .panel-heading{background-color:#000000;color:#fFFFFF}
.fact {position: relative;margin: 2px 0px 1px 0px;}
.fact:before{font-size: 16px;padding: 2px 7px 3px 7px;content: 'View!';background: #59b200;line-height: 24px;
color: #FFF;position: absolute;left:48%;top:5px;box-shadow: 0 2px 4px rgba(0,0,0,0.2);border-radius: 2px;
-webkit-transform: rotate(-5deg) translateX(-10px) translateY(-25px);
-moz-transform: rotate(-5deg) translateX(-10px) translateY(-25px);
-ms-transform: rotate(-5deg) translateX(-10px) translateY(-25px);
-o-transform: rotate(-5deg) translateX(-10px) translateY(-25px);
transform: rotate(-5deg) translateX(-10px) translateY(-25px);
}
.fact {border-bottom: 1px dotted #59b200;}
.notice {clear: both;padding:15px;margin:15px 0px;color: #333;font-style: italic;}
/*----------Topic scroll-------------*/
.scroll{position: relative;margin: 0 auto;line-height: 20px;padding:10px 0px;}
.scroll section, .content{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;text-align:justify}
.scroll section{padding: 0px 5px 0px 0px;margin:0px;overflow: hidden;}
.scroll section .content{overflow: auto;position: relative;height:80px;margin-right:10px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.pagination{margin:0px;}
.news-thumb{margin:5px 0px;}
.list-group-item time{color: #F20000;}

/*----------Menu scroll-------------*/
.mn-scroll{position: relative;margin: 0 auto;line-height: 20px;padding:10px}
.mn-scroll section, .content{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;text-align:justify}
.mn-scroll section{padding: 5px;margin:0px;overflow: hidden;}
.mn-scroll section .content{overflow: auto;position: relative;height:340px;margin-right:10px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}