@charset "UTF-8";


/* 
==================================================
content980
==================================================
 */
#content980 {
	width:980px;
}

.bukken900 {
	width:900px;
	background-color:#f4f4f4;
	background-repeat:no-repeat;
	display:block;
	margin-bottom:20px;
	padding:10px 5px 5px 5px;
}



#content980 h4.sub-title2 {
	width:900px;
	height:28px;
	background-image:url(../img/900base_title_sub.gif);
	background-repeat:no-repeat;
	display:block;
	margin-bottom:15px;
}
#content980 h4.sub-title2 span {
	line-height:25px;
	padding-left:33px;
	font-size:115%;
	font-weight:bold;
	color:#6c1417;
}

.komento2 {
	width:450px;
 	margin: 5px 0 15px 15px;
	text-align: left;
	padding:5px 5px 5px 10px;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	background-color:#cccccc;
	border:solid 1px #b6b2b2;
}
.komento2-center {
	width:450px;
 	margin: 5px 0 15px 15px;
	text-align: center;
	padding:5px 5px 5px 10px;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	background-color:#cccccc;
	border:solid 1px #b6b2b2;
}

.tyuui {
 	margin:0;
	text-align: left;
	padding:0px 0 5px 5px;
	font-size: 11px;
	color: #333333;
}

.bukken-tyuui {
	width:870px;
 	margin:0;
	text-align: left;
	padding:0px 0 5px 15px;
	font-size: 11px;
	color: #333333;
	line-height:16px;
}


/* 
==================================================
content980 共用　右・左
==================================================
 */
#content-left {
	width:430px;
	padding:0px 20px 0px 0px;
	float:left;
}
#content-right {
	padding:0px 10px 0px 0px;
	width:430px;
	float:right;
}

/* 
==================================================
content700
==================================================
 */
#content700 {
	width:700px;
	margin:0 auto;
}

.bukken700 {
	width:690px;
	background-color:#ffffff;
	background-repeat:no-repeat;
	display:block;
	margin-bottom:20px;
	padding:10px 5px 5px 5px;
}
#content700 h3.main-title {
	width:700px;
	height:60px;
	background-image:url(../img/base_title_main.gif);
	background-repeat:no-repeat;
	display:block;
	margin-bottom:5px;
	margin-top:15px;
}
#container700 h3.main-title span {
	padding-left:24px;
	font-size:140%;
	font-weight:bold;
	color:#333333;
	padding-top:18px;
	display:block;
}
#content980 h3.sub-title span {
	padding-left:24px;
	font-size:140%;
	font-weight:bold;
	color:#FFFFFF;
	padding-top:18px;
	display:block;
}


#content980 h4.sub-title2 {
	width:900px;
	height:28px;
	padding-top:7px;
	background-image:url(../img/900base_title_sub.gif);
	background-repeat:no-repeat;
	display:block;
	margin-bottom:15px;
}
#content980 h4.sub-title2 span {
	padding-left:17px;
	font-size:110%;
	font-weight:bold;
}


#container700 h3.main-title-g {
	width:890px;
	height:60px;
	background-image:url(../img/base_title_main-g.gif);
	background-repeat:no-repeat;
	display:block;
	margin-bottom:5px;
	margin-top:15px;
}
#container700 h3.main-title-g span {
	padding-left:24px;
	font-size:140%;
	font-weight:bold;
	color:#FFFFFF;
	padding-top:18px;
	display:block;
}


#container700 h4.sub-title {
	width:650px;
	height:28px;
	padding-top:7px;
	background-image:url(../img/base_title_sub.gif);
	background-repeat:no-repeat;
	display:block;
	margin-bottom:15px;
}
#container700 h4.sub-title span {
	padding-left:17px;
	font-size:110%;
	font-weight:bold;
}

#container700 .item-title {
	border-bottom:dotted 1px #6a6a6a;
	padding-bottom:5px;
	margin-bottom:7px;
	margin-left:5px;
}
#container700 .item-title885 {
	width:885px;
	border-bottom:dotted 1px #8ec31f;
	padding-bottom:5px;
	margin-bottom:7px;
	margin-left:5px;
}
#container700 .item-title885 h5 {
	background-image:url(../img/base_title_item.gif);
	background-position:0 0.3em;
	background-repeat:no-repeat;
	padding:0 0 0 10px;
	font-weight:bold;
	font-size:16px;
	color:#00523a;
}
#container700 .item-title h5 {
	background-image:url(../img/base_title_item.gif);
	background-position:0 0.3em;
	background-repeat:no-repeat;
	padding:0 0 0 10px;
	font-weight:bold;
	font-size:16px;
	color:#081d2c;
}
#container700 .item-title-s {
	width:580px;
	border-bottom:dotted 1px #8ec31f;
	background-position:left bottom;
	background-repeat:no-repeat;
	padding-bottom:5px;
	margin-bottom:7px;
	margin-left:5px;
}
#container700 .item-title-s h5 {
	background-image:url(../img/base_title_item.gif);
	background-position:0 0.3em;
	background-repeat:no-repeat;
	padding:0 0 0 10px;
	font-weight:bold;
	font-size:16px;
	color:#00523a;
}



/* 
==================================================
#bukken1　sec1
==================================================
 */
#bukken.page1 #content .sec2 .image1 {
	background-image:url(../img/syashin1.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	padding-left:180px;
}
div#bukken-left-big {
	width:500px;
	float:left;
 	margin: 0px;
	padding:0px;
}
div#bukken-left-big2 {
	width:415px;
	float:left;
 	margin: 0px;
	padding:0px;
}
.big-photo1{
	width:500px;
 	margin-left: 5px;
 	margin-top: 7px;
	padding:5px;
	border:solid 1px #CCCCCC;
}
.big-photo2{
	width:400px;
 	margin-left: 5px;
 	margin-top: 7px;
	padding:5px;
	border:solid 1px #CCCCCC;
}

.s-photowaku408{
	width:408px;
	padding:5px;
 	margin-bottom: 3px;
	border:solid 1px #CCCCCC;
}

.s-photowaku408 a {
	color: #56ab11;
	font-weight: bold;
	text-decoration:underline;
	overflow:hidden;
}
.s-photowaku{
	width:340px;
	padding:5px;
 	margin-bottom: 3px;
	border:solid 1px #CCCCCC;
}
.s-photowaku2{
	width:240px;
	padding:5px;
 	margin-bottom: 3px;
	border:solid 1px #CCCCCC;
}
.s-photowaku200{
	width:200px;
	padding:5px;
 	margin-bottom: 3px;
	border:solid 1px #CCCCCC;
	background-color:#ededed;
}
.s-photowaku270{
	width:270px;
	padding:5px;
 	margin-bottom: 3px;
	border:solid 1px #CCCCCC;
	background-color:#ededed;
}
div#bukken-right-big {
	width:380px;
	float:right;
}
div#bukken-right-big2 {
	width:275px;
	float:right;
}
div#syuhenphoto-left {
	float:left;
 	margin: 0px;
	padding:0px;
}
.s-photo{
	width:370px;
 	margin-left: 5px;
 	margin-top: 3px;
	padding:5px;
}
.s-photo2{
	width:240px;
 	margin-left: 5px;
 	margin-top: 3px;
	padding:5px;
}
.setumei {
 	margin:0;
	text-align: left;
	padding:15px 0 10px 10px;
	font-size: 13px;
	color: #333333;
	line-height:24px;
}
.setumei2 {
 	margin:0;
	text-align: left;
	padding:25px 20px 10px 10px;
	font-size: 13px;
	color: #333333;
	line-height:24px;
}
.setumei200 {
	width:200px;
 	margin:0;
	text-align: left;
	padding:5px 20px 0px 0px;
	font-size: 11px;
	color: #333333;
	line-height:16px;
	vertical-align:top;
}
.setumei300 {
	width:310px;
 	margin:0;
	text-align: left;
	padding:5px 20px 0px 0px;
	font-size: 11px;
	color: #333333;
	line-height:16px;
	vertical-align:top;
}
.setumei-photowaku100{
	width:340px;
	height:100px;
	padding:3px;
 	margin-bottom: 3px;
	border:solid 1px #CCCCCC;
	line-height:18px;
}
.setumei-photowaku65{
	width:340px;
	height:65px;
	padding:3px;
 	margin-bottom: 3px;
	border:solid 1px #CCCCCC;
	line-height:18px;
}
.setumei-photowaku620{
	width:620px;
	padding:5px;
	margin-left: 25px;
	border:solid 1px #CCCCCC;
	line-height:18px;
}
.mini-photo{
	width:620px;
 	margin-left: 20px;
 	margin-top: 0px;
	padding:0 5px 5px 5px;
	line-height:16px;
}
.mini-photowaku{
	width:110px;
	padding:5px;
	margin-bottom: 5px;
	margin-right: 3px;
	border:solid 1px #CCCCCC;
}
div#bukken-right-big h2{
	font-size:16px;
	color: #FF6600;
 	margin-bottom: 10px;
	padding:5px 5px 3px 5px;

}
.dai-photowaku{
	width:660px;
	padding:5px;
	margin-bottom: 5px;
	margin-left: 10px;
	border:solid 1px #CCCCCC;
}
.dai-photowaku2{
	padding:5px;
	margin-bottom: 5px;
	border:solid 1px #CCCCCC;
}
div#bukken-right-big ul{
	display:block;
	position:relative;
}

div#bukken-right-big li{
	width:440px;
	font-size:13px;
	display:block;
	position:relative;
 	margin-top: 5px;
 	margin-left: 20px;
	padding-left:12px;
	padding-right:5px;
	padding-bottom:3px;
	line-height:24px;
	border-bottom:solid 1px #CCCCCC;
	background:url(../img/base_title_item.gif) 0 0.4em no-repeat;
}

div#clearbox {
 clear:both;
 margin: 0;
 text-align: center;
}
.aikon-big {
	width:460px;
	text-align:right;
	padding-top:10px;
	padding-bottom:5px;
	padding-left:15px;
	font-size: 12px;
	color: #cf5050;
	font-weight: bold;
}
.bukken900 .t-box {
	padding:0 10px;
 	margin-bottom: 5px;
	line-height:1.6em;
	font-size: 12px;
	color: #333333;
}
.bukkenmei{
	width:880px;
 	margin-left: 0px;
 	margin-top: 7px;
	padding:5px;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	border:solid 1px #CCCCCC;
	background:url(../img/bukkenmei-b.gif);

}
.map2
      {　/* Googlemapを使う場合 */
	text-align: center;
	width:700px;
        margin: 5px auto;
	padding:8px;
	border:solid 1px #cccccc;
	background-color:#ffffff;
      }

.map   {　/* 作成した地図を使う場合 */
	text-align: center;
	width:460px;
        margin: 5px auto;
	padding:5px;
	border:solid 1px #cccccc;
	background-color:#ededed;
      }

.kagutuki {
	text-align: left;
	width:420px;
	height:20px;
	padding:5px 0px 2px 0px;
}
.kagutuki .right{
	text-align: right;
	width:55px;
	height:20px;
	padding:5px 0px 2px 0px;
}
#madoriinfo-area {
	margin:0;
	padding:0 0 0 px;
	text-align: left;

}
#madoriinfo-area #area-left {
 	margin: 0px;
	width:420px;
	padding:0px 0px 10px 0px;
	float:left;
}
#madoriinfo-area #area-left ul {
	padding:10px 0px 0px 0px;
	display:block;
	position:relative;
}
.madori-tya {
	width:420px;
	height:90px;
	background-image:url(../img/madoritype420-b.gif);
	background-repeat:no-repeat;
}
#area-left li{
	color: #ffffff;
	width:420px;
	font-size:13px;
	display:block;
	font-weight: bold;
	position:relative;
 	margin-top: 0px;
 	margin-left: 0px;
	padding-left:12px;
	padding-right:5px;
	padding-bottom:0px;
	line-height:18px;
}
#madoriinfo-area #area-right {
 	margin: 0px;
	padding:0px 0px 10px 0px;
	width:420px;
	float:right;
}
#madoriinfo-area #area-right ul {
	padding:10px 0px 0px 0px;
	display:block;
	position:relative;
}

#area-right li{
	width:420px;
	font-size:13px;
	display:block;
	font-weight: bold;
	position:relative;
 	margin-top: 0px;
 	margin-left: 0px;
	padding-left:12px;
	padding-right:5px;
	padding-bottom:0px;
	line-height:18px;
	background:url(../img/base_arrow1.gif) 0 0.3em no-repeat;
}

#madoriinfo-area ul {
	width:900px;
	overflow:hidden;
	margin:0 auto;
}
#madoriinfo-area li {
	float:left;
	padding:3px;
 	margin-left: 10px;
 	margin-bottom: 10px;
}


/* 
==================================================
table
==================================================
 */
.tablecenter
      {
	text-align: left;
	width:800px;
        margin: 0px auto;
	padding:3px;
      }
.tb2 {
	font-size: 100%;
	text-align: left;
	color: #333333;
 	background: #ffffff;
	padding: 3px 8px;
        border:1px solid #cccccc;
	line-height: 22px;

}
.tb2-2 {
	font-size: 100%;
	text-align: left;
	color: #333333;
 	background: #ffffff;
	padding: 3px 8px;
        border:1px solid #cccccc;
	line-height: 16px;

}
.tb2-a {
	font-size: 100%;
	text-align: left;
	color: #333333;
 	background: #ffffff;
	padding: 3px 8px;
        border-bottom:1px solid #cccccc;
        border-left:1px solid #cccccc;
        border-right:1px solid #cccccc;
	line-height: 22px;
}
.tb2-b {
	font-size: 12px;
	text-align: left;
	color: #333333;
 	background: #e5e5e5;
	padding: 5px;
        border:1px solid #cccccc;
	line-height: 24px;
	font-weight: bold;

}
.tb2-c {
	font-size: 12px;
	text-align: center;
	color: #5d5d5d;
	padding: 3px;
        border:1px solid #cccccc;
	line-height: 22px;
 	background: #D8EFFC;
	font-weight: bold;

}
.tb2-d {
	font-size: 100%;
	text-align: left;
	color: #333333;
 	background: #ffffff;
	padding: 3px 8px;
        border-top:1px solid #cccccc;
        border-left:1px solid #cccccc;
        border-right:1px solid #cccccc;
	line-height: 22px;
}
.tb2-r {
	font-size: 12px;
	text-align: right;
	color: #333333;
 	background: #d9eaff;
	padding: 5px;
        border:1px solid #cccccc;
	line-height: 24px;
}
.tb3 {
	font-size: 12px;
	text-align: left;
	color: #333333;
 	background: #ffffff;
	padding: 5px;
	line-height: 18px;
	vertical-align: top;
}
.tb3-b {
	font-size: 13px;
	text-align: left;
	color: #333333;
 	background: #ffffff;
	padding: 5px;
	line-height: 13px;
	vertical-align: top;
	font-weight: bold;
}
.tb3-c {
	font-size: 12px;
	text-align: center;
	color: #333333;
 	background: #ffffff;
	padding: 5px;
	line-height: 24px;
}
.tb4{
	text-align: left;
 	background: #ffffff;
	padding: 5px 0;
	vertical-align: top;
	font-weight: bold;
}
      *.float-left
      {
         float: left;
         margin: 5px;
	padding:3px;
	border:solid 1px #cccccc;
	background-color:#ededed;
      }
      *.float-right
      {
         float: right;
         margin: 5px;
	padding:3px;
	border:solid 1px #cccccc;
	background-color:#ededed;
      }
      *.floatclear
      {
         clear: both;
      }
.float-left
      {
         float: left;
         margin: 5px;
	padding:3px;
	border:solid 1px #cccccc;
	background-color:#ededed;
      }
.float-right
      {
         float: right;
         margin: 5px;
	padding:3px;
	border:solid 1px #cccccc;
	background-color:#ededed;
      }
.floatclear
      {
         clear: both;
      }


/* 
==================================================
content 構造
==================================================
 */
#content980 .content-equi-left {
	padding:0px 0px 0px 10px;
	width:430px;
	float:left;
}
#content980 .content-equi-right {
	width:540px;
	float:right;
}
#content980 .content-equi-right h2{
	width:540px;
	height:440px;
	margin:0px auto 0 auto;
	overflow:hidden;
	text-align:center;
}

/* 
==================================================
content アクセス
==================================================
 */
#content980 .content-acc-left {
	padding:0px 0px 0px 10px;
	width:570px;
	float:left;
}
#content980 .content-acc-right {
	width:400px;
	float:right;
}
/* 
==================================================
content一棟
==================================================
 */
#content980 .content-itou-left {
	padding:0px 0px 0px 10px;
	width:440px;
	float:left;
}
#content980 .content-itou-right {
	width:530px;
	float:right;
}
#content980 .content-itou-left-2 {
	padding:0px 0px 0px 10px;
	width:320px;
	float:left;
}
#content980 .content-itou-right-2 {
	width:650px;
	float:right;
}
/* 
==================================================
content 構造設備仕様
==================================================
 */
#content980 .content-equi-left {
	padding:0px 0px 0px 10px;
	width:420px;
	float:left;
}
#content980 .content-equi-right {
	width:550px;
	float:right;
}
#content980 .content-equi-left2 {
	padding:0px 0px 0px 10px;
	width:380px;
	float:left;
}
#content980 .content-equi-right2 {
	width:590px;
	float:right;
}
#content980 .content-equi-right2 ul {
	overflow:hidden;
	margin-bottom:10px;
}
#content980 .content-equi-right2 ul li {
	float:left;
	padding-left:10px;
 	margin: 0px;
}
/* 
==================================================
content 全体計画
==================================================
 */
#content980 .content-master-left {
	padding:0px 0px 0px 10px;
	width:580px;
	float:left;
}
#content980 .content-master-right {
	width:390px;
	float:right;
}
#content980 .content-master-left2 {
	padding:0px 0px 0px 10px;
	width:615px;
	float:left;
}
#content980 .content-master-right2 {
	width:355px;
	float:right;
}
#content980 ul.kodawari-1 {
	width:980px;
	overflow:hidden;
	margin-bottom:10px;
}
#content980 ul.kodawari-1 li {
	float:left;
	padding-left:10px;
 	margin: 0px;
}
#content980 ul.kodawari-1 li.topics {
	float:left;
	padding-right:10px;
 	margin: 0px;
}
#content980 ul.kodawari-2 {
	width:980px;
	overflow:hidden;
	margin-bottom:10px;
}
#content980 ul.kodawari-2 li {
	float:left;
	padding-left:10px;
 	margin: 0px;
}
#content980 ul.kodawari-2 li.topics {
	float:left;
	padding-right:10px;
 	margin: 0px;
}
/* 
==================================================
content ロケーション
==================================================
 */
#content980 .content-loca-left {
	padding:0px 0px 0px 10px;
	width:670px;
	float:left;
}
#content980 .content-loca-right {
	width:300px;
	float:right;
}
#content980 ul.syuuhen {
	width:300px;
	overflow:hidden;
	margin:0px;
}
#content980 ul.syuuhen li {
	padding-bottom:10px;
 	margin: 0px;
}
#content980 ul.nigiwai {
	width:980px;
	overflow:hidden;
	padding-top:30px;
	margin-bottom:10px;
}
#content980 ul.nigiwai li {
	float:left;
	padding-left:20px;
 	margin: 0px;
}
#content980 ul.nigiwai li.topics {
	float:left;
	padding-right:20px;
 	margin: 0px;
}
#content980 .content-loca-left2 {
	padding:0px 0px 0px 10px;
	width:385px;
	float:left;
}
#content980 .content-loca-right2 {
	width:585px;
	float:right;
}
#content980 .content-loca-left3 {
	padding:0px 0px 0px 10px;
	width:490px;
	float:left;
}
#content980 .content-loca-right3 {
	width:480px;
	float:right;
}
