@charset "UTF-8";
/* CSS Document */
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (max-width: 767px){
.center-block{text-align:center}
.navbar-nav,.navbar-default .navbar-nav li{border:none !important}
header .row{border-bottom:0px;padding:0px !important}
.mobile-number{margin-top:10px;}
.mobile-number abbr{font-size:25px;color:#000000;line-height:25px;font-size:6vw !important;}
.datetime{font-size:11px !important;font-size:2.5vw !important}
.container > .navbar-header, .container > .navbar-collapse{margin-right: -10px;margin-left: -10px;}
.scroll section .content{height:100% !important;}
}
body{background-color: #ebebeb;font-size:12px;}
dl{margin-bottom:0px}
h1, .h1, h2, .h2, h3, .h3{margin-top:10px;}
a:hover{text-decoration:none}
.price{
font-size: 14px;
    height: 100px;
    position: absolute;
    background-color: rgba(77, 194, 40, 0.71);
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    right: 40px;
    top: 30px;
    font-family: 'Poiret One', cursive;
    color: #ffffff;
    width: 100px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
	    border: solid 1px #6BE220;
}
.top-icon{display:inline-block;vertical-align:top}
header .row{padding:10px 0px 10px 0px}
header{padding-bottom:5px;background-color:#fff}
abbr[title], abbr[data-original-title]{border:none}
.mobile-number abbr{font-size:35px;line-height:35px;color:#c22889;text-decoration:none}
.datetime{font-size:14px;}
ul,li{list-style:none;padding:0;margin:0}
p.excerpt{display:-webkit-box;margin: 0 auto;-webkit-line-clamp:3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;
box-sizing: border-box;}
label{font-weight:normal}
.bg-default{background-color:#fff}
/*----------Jssor Slider-------------*/
.slider-shadow{border-bottom: solid 4px #ffffff;}
.slider-caption{position: absolute; width:600px;bottom:25px; left:650px; padding:10px;text-align: center; line-height:36px; text-transform: uppercase; font-size:24px;color: #FFFFFF;background-color:#000000}
.jssorb21 {position: absolute;}
.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {position: absolute;width: 19px;height: 19px;text-align: center;line-height: 19px;color: white;font-size: 12px;background: url(../images/controls/b21.png) no-repeat;overflow: hidden;cursor: pointer;}
.jssorb21 div { background-position: -5px -5px; }
.jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
.jssorb21 .av { background-position: -65px -5px; }
.jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
.jssora21l, .jssora21r {display: block;position: absolute;width:70px;height:80px;cursor: pointer;background:#ffffff url(../images/controls/a21.png) center center no-repeat;overflow: hidden;}
.jssora21l { background-position:5px -20px; }
.jssora21r {background-position: -55px -20px;}
.jssora21l:hover { background-position: 5px -20px; }
.jssora21r:hover { background-position: -55px -20px; }
.jssora21l.jssora21ldn { background-position: 5px -20px; }
.jssora21r.jssora21rdn { background-position: -55px -20px; }
/*----------Jssor Slider footer-------------*/
.jssorb03 {position: absolute;}
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {position: absolute;width: 21px;height: 21px;text-align: center;line-height: 21px;color: white;font-size: 12px;background: url(../images/controls/b03.png) no-repeat;overflow: hidden;cursor: pointer;}
.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }
.jssora03l, .jssora03r {display: block;position: absolute;width: 55px;height: 55px;cursor: pointer;background: url(../images/controls/a03.png) no-repeat;overflow: hidden;}
.jssora03l { background-position: -3px -33px; }
.jssora03r { background-position: -63px -33px; }
.jssora03l:hover { background-position: -123px -33px; }
.jssora03r:hover { background-position: -183px -33px; }
.jssora03l.jssora03ldn { background-position: -243px -33px; }
.jssora03r.jssora03rdn { background-position: -303px -33px; }
/*----------Jssor Slider Avatar-------------*/
.jssorb13 {position: absolute;}
.jssorb13 div, .jssorb13 div:hover, .jssorb13 .av {position: absolute;width: 21px;height: 21px;background: url(../images/controls/b13.png) no-repeat;overflow: hidden;cursor: pointer;}
.jssorb13 div { background-position: -5px -5px; }
.jssorb13 div:hover, .jssorb13 .av:hover { background-position: -35px -5px; }
.jssorb13 .av { background-position: -65px -5px; }
.jssorb13 .dn, .jssorb13 .dn:hover { background-position: -95px -5px; }
/*--------------------------*/
.caption h5{margin-top:0px;max-height: 50px;display: block;overflow: hidden;}
.caption a{color:#000000}
.highlight {background-color: #fff;border-radius:4px;box-shadow: 2px 2px 2px #CBCBCB;}
.highlight h3{padding-top:10px;}
/*----------Menu scroll-------------*/
.scroll{position: relative;margin: 0 auto;line-height: 20px;padding:10px}
.scroll section, .content{ -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;text-align:justify}
.scroll section{padding: 5px;margin:0px;overflow: hidden;}
.scroll section .content{overflow: auto;position: relative;height:296px;margin-right:10px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.scroll section dt{padding-top: 5px;}
.scroll section dd{border-bottom: dotted 1px #C8C8C8;padding: 5px 0px 5px 0px;text-transform: uppercase;transition: all 0.5s ease;}
.scroll section dd a{color: #000;display: inline-block;padding-left: 10px;}
.scroll section dd:hover{background-color:#fff}
/*----------Tab-------------*/
.color-pink{color:#c22889}
/*----------Top menu-------------*/
.navbar-brand .fa{color:#FFFFFF;font-size:20px;}
.navbar-default .navbar-nav > li > a { color: #FFF;font-size:12px;}
.navbar-default .navbar-nav li{border-left: solid 1px #E060B1;transition: all 0.5s ease;border-right: solid 1px #86145C;}
.navbar-default .navbar-nav li:hover{background-color:#E060B1}
.navbar-default{border:none;background:#c22889;border-radius: 0px;}
.navbar{margin:0px;}
.navbar-nav {margin: 0px -10px;border-right: solid 1px #E060B1;border-left: solid 1px #86145C;}
.navbar-default .navbar-toggle {border:none;padding:7px 0px}
.navbar-default .navbar-toggle .icon-bar {background-color: #FFF;}
.navbar-default .navbar-toggle:hover{background-color:#953436}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color:transparent}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {border:none;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{color: #000;background-color: #FFFFFF;}
.navbar-default .navbar-nav > li.active{border-left:solid 1px #ffffff}
.navbar-right{background-color:#FFFFFF;border:none}
.navbar-right li a.datetime{color:#000000 !important}
.navbar-nav .fa{color: rgba(255, 255, 255, 0.51);float:right}
/*----------Footer-------------*/
.footer-menu{margin:20px 0px 10px 0px}
.footer-menu li{display:inline;padding:0 5px;border-right: 1px solid #000000}
.footer-menu li a{color:#000000;font-size:12px;}
.footer-menu li a:hover{color:#c22889;text-decoration:none}
.footer-menu li:last-child{border-right:none}
.socials a {display: inline-block;width:35px;height:35px;font-size:15px;line-height:35px;text-align: center;text-decoration: none;border: 2px solid #fff;border-radius: 50%;transition: border-color ease 0.4s}
.socials .fa{color:#000;background-color:#FFFFFF}
.socials a:hover {color: #ffffff;background-color: #c22889;border-color: #c22889;}
.footer-privacy {padding-top:15px;text-align: center;font-size: 12px;line-height:30px;}
/*----------Staff page-------------*/
#sliderStaff  blockquote{margin: 0px;border:none;font-size:12px;}
#sliderStaff  blockquote .fa{margin-right:10px;}
.avatar{background-color:#B7B7B7;border-top-left-radius: 4px;border-top-right-radius: 4px;}
.avatar .view{display:table-cell;vertical-align:middle;height:170px;table-layout:fixed;width:100%}
.avatar .fa{color:#ffffff;font-size:72px;margin:0px;padding:0px}
/*----------Menu page-------------*/
.heading:before,.heading:after{content: "";height:5px;border-top: 1px solid #bcbcbc;border-bottom: 1px solid #bcbcbc;width:5%;display: inline-block;margin-bottom:7px;}
.heading:before {margin-right:10px;}
.heading:after {margin-left:10px}
.heading{line-height: 55px;color: #EC3994;text-align: center;font-family: 'Mr De Haviland', cursive;font-size: 50px;margin-top:30px;}
.blockrecomen{display:block;content:"";background:url(../images/bg_hair.jpg) center 0 no-repeat;color:#FFFFFF;padding-top:30px;margin-bottom:20px;padding-bottom:20px}
.blockrecomen h4{color:#c22889}
.blockrecomen p{text-overflow:ellipsis;overflow:hidden;-webkit-line-clamp:3;display:-webkit-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;-webkit-box-orient: vertical;}
.thumbnail {border: 1px solid #FFF;box-shadow: 2px 2px 2px #CBCBCB;padding:15px;}
.topics,.menu-service,.staffcomment{margin-bottom:15px;border-radius:4px;box-shadow: 2px 2px 2px #CBCBCB;}
.menu-service,.staffcomment{background:#fff;}
.menu-service .tt-menu-sv{background-color: #33cc99;color: #fff;border-top-left-radius: 4px;border-top-right-radius: 4px;font-size: 18px;line-height: 36px;}
.menu-service .fa{color:#00cc33;}
.tt-menu-sv{background-color: #33cc99;color: #fff;border-top-left-radius: 4px;border-top-right-radius: 4px;font-size: 18px;line-height: 36px;}
.topics{background-color: #ffff99;}
.topics .heading-topics{font-size: 18px;line-height: 36px;border-bottom:solid 1px #E4E589;}
/*----------Ontact page-------------*/
.blockContact{background:url(../images/contact-form.png) center 0 repeat-x;}
.form-group {margin-bottom: 10px;}
form{margin-bottom:15px;}
.btn-primary.disabled, .btn-primary[disabled],.btn-primary{background-color: #C22889;border-color: #C22889;}
.btn-primary[disabled]:hover,.btn-primary.disabled:hover,.btn-primary.disabled:focus,.btn-primary:hover{background-color: #EC3994;border-color: #C22889;}
.map{padding:10px;background-color:#ffffff}
#map-canvas{height:257px;width:auto;}
.pack{background:#989898 url(../images/h.png) center center no-repeat;min-height:400px;margin-bottom:15px;padding-bottom:15px;}
.pack a{font-size: 25px;color:#DFFF00;text-decoration: none;font-family: 'Poiret One', cursive;padding-top: 150px;display: block;padding-left: 15px;margin-bottom: 15px;}
.pack .dl-horizontal dt{width:80px;}
.pack .dl-horizontal dd{margin-left: 110px;}
.pack .dl-horizontal dd,.pack .dl-horizontal dt{color:#FFFFFF}
.pack .dl-horizontal dt .fa{margin-right:5px;}
.pack span{display:block;color:#ffffff;padding-left:15px;}
.pack span .fa{margin-right:5px;}
.faq span{display:block;font-size: 14px;line-height: 24px;font-weight:bold}
.faq span:hover{color: #C22889;}
.faq span .fa{color:#C22889;margin-right:10px;}
.faq .panel-detail{margin: 10px 0px;font-size: 14px;text-align:justify;}
.clickable{cursor:pointer}
.about .title{font-family: 'Josefin Sans', sans-serif;}
.about .number{color:#3CC35C}


.custom_newsletter .custom_newsletter_wrap_inner .mc4wp-form form { margin-bottom:0; }
.custom_newsletter .custom_newsletter_wrap_inner .mc4wp-form form p {
	display:inline-block;
	width:100%;
	margin-bottom:0;
}
.custom_newsletter .custom_newsletter_wrap_inner .mc4wp-form form p input#mc4wp_email {
	background:#252525;
	border-radius:0;
	box-shadow:none;
	border:none;
	height:70px;
	padding:4px 33px;
	color:#dbdbdb;
	max-width:687px;
	float:left;
	margin-right:10px;
}
.custom_newsletter .custom_newsletter_wrap_inner .mc4wp-form form p input#mc4wp_email::-moz-placeholder {
	color:#dbdbdb;
	font-size:20px;
	font-weight:300;
	font-style:italic;
	text-transform:lowercase;
}
.custom_newsletter .custom_newsletter_wrap_inner .mc4wp-form form p input#mc4wp_email::-webkit-input-placeholder {
	color:#dbdbdb;
	font-size:20px;
	font-weight:300;
	font-style:italic;
	text-transform:lowercase;
}
.custom_newsletter .custom_newsletter_wrap_inner .mc4wp-form form p input#mc4wp_email:-ms-input-placeholder {
	color:#dbdbdb;
	font-size:20px;
	font-weight:300;
	font-style:italic;
	text-transform:lowercase;
}
.custom_newsletter .custom_newsletter_wrap_inner .mc4wp-form form p input[type="submit"] {
	font-size:20px !important;
	line-height:22px !important;
	text-transform:uppercase !important;
	font-weight:500 !important;
	padding:23px 34px !important;
	float:left;
}

hr{border-top:dotted 1px #C8C8C8;}
legend{margin-bottom:10px;}