@charset "UTF-8";
/* base style
================================================== */
 
* {
	margin:0;
	padding:0;
}
html, body {
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	font-family: "ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", Verdana, Osaka, sans-serif;
	font-size: 80%;
	color: #333333;
	line-height: 1.6em;
	background-image:url(../img/base_header.gif);
	background-repeat:repeat-x;
	background-color:#fff;
}
form textarea {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6, div, p, pre, ul, ol, dl, dt, dd, address, form, blockquote {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
	display: block;
}
ul, ol {
	list-style-type: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: none;
}
img {
	border: 0;
	vertical-align:bottom;
}
a {
	color: #3b2807;
	text-decoration: none;
	overflow:hidden;
}
a:hover {
	color: #3b2807;
	text-decoration:underline;
}
/* 
==================================================
header
==================================================
 */
#header {
	width:900px;
	margin:0 auto;
	border-top:solid 3px #3b2807;
}
#header .clear-box {
	width:900px;
	overflow:hidden;
}
#header .clear-box h1 {
	float:left;
	padding:5px 0 10px 0;
}
#header .clear-box .right {
	float:right;
	padding-top:10px;
}
#header .clear-box .right #mini-navi {
	float:right;
}
#header .clear-box .right #mini-navi li {
	display:inline;
}
#header .clear-box .right #mini-navi li a {
	float:left;
	display:block;
	padding-left:15px;
}
#header .clear-box .right .phone {
	padding-top:8px;
	clear:both;
	text-align:right;
}
#header h3 {
	padding:0px 0;
}
/* 
==================================================
globalnavi
==================================================
 */
#globalnavi {
	background-image:url(../img/globalnavi_bg.gif);
	background-repeat:repeat-x;
	background-position:center bottom;
	height:40px;
}
#globalnavi ul {
	width:900px;
	overflow:hidden;
	margin:0 auto;
}
#globalnavi li {
	float:left;
}
/* 
==================================================
wrapper
==================================================
 */
#wrapper {
	background-image:url(../img/base_bg.gif);
	background-repeat:repeat-x;
}
/* 
==================================================
title-area　bread-crumb
==================================================
 */
#bread-crumb {
	position:absolute;
	left:10px;
	top:10px;
}
#bread-crumb li.arrow {
	background-image:url(../img/base_bread.gif);
	background-repeat:no-repeat;
	background-position:10px 0.1em;
	padding-left:27px;
}
#bread-crumb li {
	color:#3b2807;
	display:inline;
	font-size:85%;
}
#bread-crumb li a {
	color:#3b2807;
	text-decoration:underline;
}
/* 
==================================================
container
==================================================
 */
#container {
	width:900px;
	margin:0 auto;
	overflow:hidden;
	background-image:url(../img/base_container.gif);
	background-repeat:repeat-y;
	background-position:left top;
	padding-bottom:15px;
}
#container900 {
	width:900px;
	margin:0 auto;
	overflow:hidden;
	marign-top:15px;
	background-repeat:repeat-y;
	background-position:left top;
	padding-bottom:15px;

}
/* 
==================================================
content
==================================================
 */
#content {
	width:650px;
	float:left;
}



/* 
==================================================
side-area
==================================================
 */
#side-area {
	width:230px;
	float:right;
}
#side-area #banner-area {
	padding:5px;
	background-color:#ececec;
}
#side-area #banner-area ul {
	margin-bottom:5px;
}
#side-area #banner-area li {
	padding-bottom:5px;
}
#side-area #banner-area dl {
	background-image:url(../img/base_banner_box.jpg);
	background-repeat:no-repeat;
	width:220px;
	height:152px;
}
#side-area #banner-area dl dt {
	display:none;
}
#side-area #banner-area dl dd {
	width:200px;
	padding:10px;
	padding-top:80px;
	line-height:1.4em;
	overflow:hidden;
}
#side-area #banner-area dl dd .link {
	float:right;
	margin-top:5px;
}
div#banner-area #can-box {
	padding:0px;
	margin-bottom:0px;
}
div#banner-area #can-box dl {
	background-image:url(../img/colum_b.jpg);
	background-repeat:no-repeat 5px 0;
	width:220px;
	height:152px;
	margin-top:5px;
}
div#banner-area #can-box dt {
	display:none;
}
div#banner-area #can-box dd {
	width:200px;
	padding:80px 10px 10px 10px;
	line-height:1.4em;
	overflow:hidden;
}

#banner-area2 {
	width:205px;
	margin:10px auto;
	padding:5px;
	border:solid 1px #cccccc;
}
.banner-area2-t {
	padding:5px;
	line-height:1em;
}


/* 
==================================================
side-area sidenavi
==================================================
 */
#side-area #sidenavi {
	padding:5px;
}
#side-area #sidenavi h5 {
	width:220px;
	height:50px;
	background-image:url(../img/base_sidenavi_title.gif);
}
#side-area #sidenavi h5 span {
	padding:13px 0 0 15px;
	font-weight:bold;
	color:#FFFFFF;
	display:block;
}
#side-area #sidenavi li a {
	background-image:url(../img/base_sidenavi.gif);
	background-repeat:no-repeat;
	width:220px;
	height:39px;
	display:block;
	color:#333333;
}
#side-area #sidenavi li a:hover, #side-area #sidenavi li.on a {
	background-image:url(../img/base_sidenavi_on.gif);
	color:#2B66AF;
}
#side-area #sidenavi li a span {
	padding:8px 0 0 32px;
	display:block;
	font-size:97%;
}
#side-area #banner-area dl {
	background-image:url(../img/base_banner_box.jpg);
	background-repeat:no-repeat;
	width:220px;
	height:152px;
}
#side-area #banner-area dl dt {
	display:none;
}
#side-area #banner-area dl dd {
	width:200px;
	padding:10px;
	padding-top:80px;
	font-weight: bold;
	line-height:1.4em;
	overflow:hidden;
}
#side-area #banner-area dl dd .link {
	float:right;
	margin-top:5px;
}
#banner-area dd span {
	text-align:center;
	padding:0px;
	display:block;
	font-size:140%;
	font-weight: bold;
	color:#c7a00c;
}

/* 
==================================================
page-top
==================================================
 */
#page-top {
	text-align:right;
	padding:15px 0;
}
/* 
==================================================
footer
==================================================
 */
#footer {
	background-image:url(../img/base_header.gif);
	background-repeat:repeat-x;
}
#footer .item1 {
	background-image:url(../img/base_header.gif);
	background-repeat:repeat-x;
	background-color:#f1f1f1;
}
#footer .item1 .clear-box {
	border-top:solid 3px #3b2807;
	width:900px;
	margin:0 auto;
	overflow:hidden;
}
#footer .item1 p.text {
	float:left;
	width:490px;
	padding-top:7px;
}
#footer .item1 p.btn {
	float:right;
}
#footer .item2 {
	border-top:solid 3px #3b2807;
	width:900px;
	margin:0 auto;
	overflow:hidden;
	padding:10px 0;
}
#footer .item2 .footer-menu {
	width:500px;
	float:left;
	overflow:hidden;
}
#footer .item2 .footer-menu ul {
}
#footer .item2 .copy {
	float:right;
	font-size:90%;
}
#footer .item2 ul li {
	display:inline;
	padding-right:10px;
	padding-left:10px;
	background-image:url(../img/footer_line.gif);
	background-position:0 0;
	background-repeat:no-repeat;
}

#footer .clear-box li.first {
	padding-left:0px;
	background-image:none;
}

==================================================
indent-point-area
==================================================
 */
#content #point-area {
	padding:5px;
}

#content #point-area ul {
	margin-bottom:15px;

}
#content #point-area li {
	padding-bottom:5px;
	font-size: 13px;
	color: #2b66af;
	font-weight: bold;
}

.rosen{
	text-align: left;
	padding-top:5px;
	margin-bottom:20px;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
        line-height:25px;
}
.rosen li {
	padding-top:0px;
	padding-left:11px;
	background-image:url(../img/base_arrow1.gif);
	background-repeat:no-repeat;
	background-position:0 13px;
}
.style1{
	text-align: left;
	padding-top:10px;
	padding-bottom:5px;
	font-size: 14px;
	color: #2b66af;
	font-weight: bold;
}
.style2 {
	text-align: left;
	padding:5px;
	font-size: 14px;
	color: #b02e2e;
}
.style4 {
	text-align: left;
	padding:5px;
	font-size: 13px;
	color: #333333;
}
.style3 {
	text-align: center;
	padding:5px;
	font-size: 12px;
	color: #333333;
}
.style5 {
	text-align: left;
	padding-bottom:5px;
	font-size: 12px;
	color: #2b66af;
	font-weight: bold;
}
.style6 {
	text-align: left;
	padding-left:0px;
	font-size: 20px;
	color: #cf5050;
	font-weight: bold;
        line-height:25px;
}
.style7 {
	padding :0 0 5px 0px;
	font-size: 12px;
	color: #cf5050;
	font-weight: bold;
}
.style8 {
	text-align: left;
	padding-bottom:5px;
	font-size: 14px;
	color: #cf5050;
	font-weight: bold;
}
.style9 {
	text-align: left;
	padding-bottom:5px;
	font-size: 16px;
	color: #cf5050;
	font-weight: bold;
        line-height:25px;
}
.style10 {
	text-align: left;
	padding-left:10px;
	font-size: 10px;
        line-height:14px;
}
.style10-r {
	text-align: right;
	padding:0px;
        line-height:20px;
}
.style11 {
	text-align: left;
	font-size: 15px;
	color: #c7a00c;
	font-weight: bold;
        line-height:22px;
}
.style7-left {
	padding :0 0 5px 290px;
	font-size: 12px;
	color: #cf5050;
	font-weight: bold;
}

.musubi {
	text-align: right;
	padding:5px;
        line-height:22px;
}

#errmsg {
	font-size: 10px;
	text-align: left;
	color: #cf5050;
 	background: #ffffff;
	padding: 0px;
}

