@charset "UTF-8";
/* base style
================================================== */
 
* {
	margin:0;
	padding:0;
}
html, body {
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	font-family: "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3",  Verdana, Osaka, sans-serif;
	font-size: 80%;
	color: #2d2828;
	line-height: 1.6em;
	background-image:url(../img/base01.gif);
	background-position:0 0;
	background-repeat:repeat;
}
form textarea {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6, div, p, pre, ul, ol, dl, dt, dd, address, form, blockquote {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
	display: block;
}
ul, ol, li{
	list-style-type: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: none;
}
img {
	border: 0;
	vertical-align:bottom;
}
a {
	color: #2d2828;
	text-decoration: none;
	overflow:hidden;
}
a:hover {
	color: #2d2828;
	text-decoration:underline;
}
/* 
==================================================
header
==================================================
 */
#header {
	width:100%;
	height80px;
	margin:0 auto;
	background-color:#FFF;
	background-image:url(../img/header-bg.jpg);
	background-repeat:repeat-x;
	background-position:center top;
}
#header .clear-box {
	width:900px;
	overflow:hidden;
	margin:0 auto;
	padding-top:15px;;
}
#header .clear-box .left {
	width:600px;
	margin-bottom:3px;
}
#header .clear-box .left .header-copy{
	margin:0 auto;
	font-size: 10px;
}
#header .clear-box .right {
	float:right;
	padding-top:5px;
}
#header .clear-box .right #mini-navi {
	float:right;
}
#header .clear-box .right #mini-navi li {
	display:inline;
}
#header .clear-box .right #mini-navi li a {
	float:left;
	display:block;
	padding-left:10px;
}
#header .logo {
	width:160px;
	height:82px;
	margin:0 auto;
	padding-bottom:10px;
}
#header .logo h1 {
	padding:0px;
}

/* 
==================================================
header2 小窓
==================================================
 */
#header2 {
	width:100%;
	height:80px;
	background-color:#FFF;
	background-image:url(../img/header-bg.jpg);
	background-repeat:repeat-x;
	background-position:center top;
}
#header2 .clear-box {
	width:700px;
	overflow:hidden;
	margin:0 auto;
}
#header2 .clear-box h1 {
	float:left;
	padding:25px 0 0px 0;
}
#header2 .clear-box .right {
	float:right;
}
#header2 .clear-box .right #mini-navi {
	float:right;
	padding-top:10px;
}
#header2 .clear-box .right #mini-navi li {
	display:inline;
}
#header2 .clear-box .right #mini-navi li a {
	float:left;
	display:block;
	padding-left:11px;
}
#header2 .clear-box .right .phone {
	padding-top:8px;
	clear:both;
	text-align:right;
}
/* 
==================================================
globalnavi
==================================================
 */
#globalnavi {
	height:90px;
	background-color:#FFF;
}
#globalnavi ul {
	width:900px;
	overflow:hidden;
	margin:0 auto;
}
#globalnavi li {
	float:left;
}
/* 
==================================================
wrapper
==================================================
 */
#wrapper {
	background-image:url(../img/base01.gif);
	background-position:0 0;
	background-repeat:repeat;
}
/* 
==================================================
title-area　bread-crumb
==================================================
 */
#title-area {
	width:900px;
	margin:0 auto;
}
#title-area .title{
	width:900px;
	margin:0 auto;
	padding-top:30px;
}
#title-area #bread-crumb {
	float:right;
	text-align:right;
	font-size:90%;
}
#bread-crumb li.arrow {
	background-image:url(../img/bread-crumb.gif);
	background-repeat:no-repeat;
	background-position:3px 0.5em;
	padding-left:13px;
}
#bread-crumb li {
	color:#172f52;
	display:inline;
	font-size:85%;
}
#bread-crumb li a {
	color:#172f52;
	text-decoration:underline;
}

/* 
==================================================
container
==================================================
 */
#container {
	width:100%;
	margin:0px auto 0 auto;
	overflow:hidden;
}
/* 
==================================================
content
==================================================
 */
#content {
	width:900px;
	margin:0px auto 0 auto;
}

/* 
==================================================
page-top
==================================================
 */
#page-top {
	text-align:right;
	padding:10px 10px 20px 0;
}
/* 
==================================================
footer
==================================================
 */
#footer {
	background-color: #FFFFFF;
}
#footer .item {
	width:100%x;
	margin:0 auto;
	overflow:hidden;
	padding:10px 0 30px 0;
}
#footer .inr {
	width:900px;
	margin:0 auto;
	overflow:hidden;
	padding:0;
}
#footer .inr ul {
	float:left;
}
#footer .inr .copy {
	float:right;
	font-size:85%;
}

#footer .inr ul li {
	display:inline;
	padding-right:8px;
	padding-left:10px;
	background-image:url(../img/footer_line.gif);
	background-position:0 0.3em;
	background-repeat:no-repeat;
}

#footer .clear-box li.first {
	padding-left:0px;
	background-image:none;
}
#footer .footer-banner {
	width:900px;
	margin:0 auto;
	overflow:hidden;
	padding:25px 0 0px 0;
}
#footer .footer-banner ol li{
	float:left;
	padding:0px 10px 0px 0;
}

/* 
==================================================
footer 小窓
==================================================
 */
#footer2 {
	padding:0 0 0 0;
}
#footer2 .copy2 {
	font-size:85%;
	text-align:center;
	padding-bottom:10px;
}
