@charset "UTF-8";
/* 
==================================================
indent-point-area
==================================================
 */

.style1{
	font-size: 85%;
	line-height:150%;
	padding-top:3px;
}
.style7{
	font-size: 90%;
 	color: #c10202;
}
.style8{
	font-size: 130%;
 	color: #377ac6;
}

#errmsg {
	font-size: 10px;
	text-align: left;
	color: #cf5050;
 	background: #ffffff;
	padding: 0px;
}

/* 
==================================================
.indent-area
==================================================
 */
#content .indent-area {
	padding-left:15px;
}
.bottom-5 {
	padding-bottom:5px;
}
.bottom-10 {
	padding-bottom:10px;
}
.bottom-15 {
	padding-bottom:15px;
}
.bottom-20 {
	padding-bottom:20px;
}
.bottom-30 {
	padding-bottom:30px;
}
.bottom-40 {
	padding-bottom:40px;
}
.top-5 {
	padding-top:5px;
}
.top-10 {
	padding-top:10px;
}
.top-15 {
	padding-top:15px;
}
.top-20 {
	padding-top:20px;
}
.top-30 {
	padding-top:30px;
}
.top-40 {
	padding-top:40px;
}
.top-50 {
	padding-top:50px;
}
.left-10 {
	padding-left:10px;
}

/* 
==================================================
table
==================================================
 */
.tablecenter
      {
	text-align: left;
	width:800px;
        margin: 0px auto;
	padding:3px;
      }
.tb1 {
	font-size: 100%;
	text-align: left;
	color: #333333;
 	background: #ffffff;
	padding: 7px 0 7px 10px;
        border:1px solid #ccc;
	line-height: 22px;
}
.tb1-c {
	font-size: 100%;
	text-align: center;
	color: #333333;
 	background: #ffffff;
	padding: 7px 0 7px 10px;
        border:1px solid #ccc;
	line-height: 22px;
}
.tb2-l {
	font-size: 12px;
	text-align: left;
	color: #333333;
	padding: 7px 0 7px 15px;
        border:1px solid #ccc;
	line-height: 22px;
 	background: #fff6ba;
	font-weight: bold;
}

.tb2-c {
	font-size: 12px;
	text-align: center;
	color: #333333;
	padding: 5px 0 5px 0;
        border:1px solid #ccc;
	line-height: 22px;
 	background: #e4d67a;
	font-weight: bold;
}
      *.float-left
      {
         float: left;
         margin: 5px;
	padding:3px;
	border:solid 1px #cccccc;
	background-color:#ededed;
      }
      *.float-right
      {
         float: right;
         margin: 5px;
	padding:3px;
	border:solid 1px #cccccc;
	background-color:#ededed;
      }
      *.floatclear
      {
         clear: both;
      }
.float-left
      {
         float: left;
         margin: 5px;
	padding:3px;
	border:solid 1px #cccccc;
	background-color:#ededed;
      }
.float-right
      {
         float: right;
         margin: 5px;
	padding:3px;
	border:solid 1px #cccccc;
	background-color:#ededed;
      }
.floatclear
      {
         clear: both;
      }
.left
      {
        float: left;
      }
.right
      {
        float: right;
      }

