@charset "UTF-8";

 
/* 
==================================================
wrapper
==================================================
 */
#top #wrapper {
	background-color:#ffffff;
}
#main-image {
    margin: 0 auto;
    width: 920px;
    height: 512px;
    text-align: left;
    overflow: hidden;
    position: relative;
}
 
#main-image img {
    top: 0;
    left: 0;
    position: absolute;
}
/* 
==================================================
top-main-area
==================================================
 */
#top-main-area {
	width:900px;
	margin:10px auto 20px auto;
	overflow:hidden;
	text-align:center;
}

/* 
==================================================
sec1
==================================================
 */
#top #content .sec1 h4 {
	padding:13px 0px 20px 0;
}
/* 
==================================================
#container content-info
==================================================
 */
#container .content-info{
	width:900px;
	padding-bottom:30px;
	margin:0 auto;
}




/* 
==================================================
インフォメーション
==================================================
 */
#top #content #news {
	font-size:90%;
}
#top #content #news h4 {
	padding-bottom:10px;
}
#top #content #news dl {
	width:900px;
	overflow:hidden;
	padding-bottom:10px;
}
#top #content #news dl dt.fst {
	width:90px;
	float:left;
	padding:0px 0 0 8px;
	background-image:url(../img/base_arrow1.gif);
	background-repeat:no-repeat;
	background-position:0 5px;
}
#top #content #news dl dt.fst span{
	color:#8c621a;
	font-weight:bold;
}
#top #content #news dd.fst {
	width:800px;
	float:right;
}

#top #content #news dl dt {
	width:90px;
	float:left;
	padding:0px 0 0 8px;
	background-image:url(../img/base_arrow1.gif);
	background-repeat:no-repeat;
	background-position:0 5px;
	color:#8c621a;
	font-weight:bold;
}
#top #content #news dl dt span{
	color:#8c621a;
	font-weight:bold;
}
#top #content #news dd {
	width:800px;
	float:right;
}

#top #content .clear-box {
	clear:both;
}
.button-center {
	width:900px;
	margin:0 auto;
	text-align:center;
	padding-bottom:10px;
}
.button-center2 {
	width:900px;
	margin:0 auto;
	text-align:center;
	padding-bottom:10px;
}
.button-center700 {
	width:700;
	margin:0 auto;
	text-align:center;
}
/* 
==================================================
content-top-banner
==================================================
 */
#banner-area {
	width:100%;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	overflow:hidden;
	background-color:#e6e4de;
}
#banner-area .inr {
	width:900px;
	margin:0 auto;
}
#banner-area .inr ul {
	padding:0;
}
#banner-area .inr ul li {
	margin-right:6px;
	float:left;
	margin-bottom:13px;
	margin-top:13px;
}
#banner-area .inr ul li.fin {
	float:left;
}

