@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@font-face { font-family: 'Meiryo-Bold'; src: url('../css/fonts/Meiryo-Bold.eot?#iefix') format('embedded-opentype'), url('../css/fonts/Meiryo-Bold.woff') format('woff'), url('../css/fonts/Meiryo-Bold.ttf') format('truetype'), url('../css/fonts/Meiryo-Bold.svg#Meiryo-Bold') format('svg'); font-weight: normal; font-style: normal;}
@font-face { font-family: 'Meiryo-Regular'; src: url('../css/fonts/Meiryo.eot?#iefix') format('embedded-opentype'), url('../css/fonts/Meiryo.woff') format('woff'), url('../css/fonts/Meiryo.ttf') format('truetype'), url('../css/fonts/Meiryo.svg#Meiryo') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'TsukuARdGothic-Bold'; src: url('../css/fonts/TsukuARdGothic-Bold.eot?#iefix') format('embedded-opentype'), url('../css/fonts/TsukuARdGothic-Bold.woff') format('woff'), url('../css/fonts/TsukuARdGothic-Bold.ttf') format('truetype'), url('../css/fonts/TsukuARdGothic-Bold.svg#TsukuARdGothic-Bold') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'TsukuARdGothic-Regular'; src: url('../css/fonts/TsukuARdGothic-Regular.eot?#iefix') format('embedded-opentype'), url('../css/fonts/TsukuARdGothic-Regular.woff') format('woff'), url('../css/fonts/TsukuARdGothic-Regular.ttf') format('truetype'), url('../css/fonts/TsukuARdGothic-Regular.svg#TsukuARdGothic-Regular') format('svg'); font-weight: normal; font-style: normal; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; }
.btn, a, .btn:hover {-webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; color: #F4979F;}
.btn:hover, .btn:focus, .btn.focus {color: #fff;}
::selection { background: #009AAC; color: #FFF; text-shadow: none; } ::-moz-selection { background: #009AAC; /* Firefox */ color: #FFF; text-shadow: none; } ::-webkit-selection { background: #009AAC; /* Safari */ color: #FFF; text-shadow: none; }
html {width: 100%; height: 100%;}
body {width: 100%; height: 100%;background-color: #fff; font-family: 'Meiryo-Regular', sans-serif; line-height: 1.8em; font-size: 14px;
-webkit-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale; color: #3a3a3a;}
.btn-link {color: #3a3a3a; word-break: normal; word-break: break-all; word-break: keep-all;} .btn-link:hover {color: #D23D44; text-decoration: underline;}
h1, h2, h3, h4, h5, h6 {text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; color: #402637; }
a:hover, a:focus { text-decoration: none; color: #009AAC;}
h2 {font-size: 22px;} h3 {font-size: 20px;} .mt5 {margin-top: 5px;} .mb0 {margin-bottom: 0;}
.mb60 {margin-bottom: 60px;} .mt30 {margin-top: 30px;} .mb30 {margin-bottom: 30px;} .mt15 {margin-top: 15px;} .w135 {width: 135px;} .red {color: #ec1d25;} .brown {color: #a77b25;} .purple {color: #c6046d;}
.pl0 {padding-left: 0;} .pr0 {padding-right: 0;} .mh400 {min-height: 400px;} .pad0 {padding-right: 0; padding-left: 0;} .mb200 {margin-bottom: 200px;}
.mt70 {margin-top: 70px !important;} .mt60 {margin-top: 60px;} .mt120 {margin-top: 120px;} .mt0 {margin-top: 0 !important;} .mt106 {margin-top: 106px;}
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}

.container .aligncenter { display: block; margin: 0 auto; }

#page {height: 100%;}
section {padding: 30px 0;}
.display_table {
    display: table;
}
.table_content {
    display: table-cell;
    vertical-align: middle;
}
.navbar-default {
  background: #009AAC;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
}
.nav_top {
  background: #fff;
  padding: 15px 0;
}
.nav_top p {margin-bottom: 0;}
.navbar-brand {
  width: 300px;
  height: 74px;
  background: url('../images/logo.svg') no-repeat center;
  display: block;
  text-indent: -99999px;
  margin-top: 15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: #F4979F;
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background: #F4979F;
}
.navbar-default .navbar-nav > li a:hover:after {
  width: 100%;
}
.dropdown-menu {
  box-shadow: none;
  border: none;
  border-radius: 0;
  min-width: 238px;
  padding: 0;
}
.dropdown-menu > li > a {
  padding: 15px 10px;
  font-size: 14px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background: #009AAC;
  color: #fff;
}
.i_call {
  background: url('../images/i_call.svg') no-repeat;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  display: inline-block;
  position: relative;
  top: -10px;
}
.i_arrow_right {
  background: url('../images/i_arrow_right.svg') no-repeat;
  width: 28px;
  height: 28px;
  margin-left: 5px;
  display: inline-block;
}
.i_arrow_top {
   background: url('../images/i_arrow_top.svg') no-repeat;
    width: 25px;
    height: 18px;
    display: inline-block;
}
footer {
  color: #fff;
}
footer p {
  margin-bottom: 0;
  font-size: 12px;
  text-align: center;
}
.footer_top {
  background: rgba(0, 154, 172, 0.8);
  padding: 30px 0;
}
.footer_bottom {
  background: #009AAC;
  padding: 30px 0;
}
.footer_bottom p {
  margin-top: 15px;
}
.col_footer_bottom {
  padding-left: 5px;
  padding-right: 5px;
}
ul.list_topmenu {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
ul.list_topmenu li {
  display: inline-block;
  margin-right: 15px;
}
.btnWeb {
  color: #fff;
  background: #F4979F;
  border-radius: 3px;
  text-transform: uppercase;
  font-family : Tsukushi A Round Gothic;
  font-weight : bold;
  font-size : 16px;
  line-height : 19px;
}
.btnWeb:hover {
  background: #b04b54;
}
.btnWeb span {
  display: inline-block;
}
ul.list_topmenu li p span {
  display: inline-block;
}
ul.list_topmenu li:first-child {
  margin-right: 30px;
}
ul.list_topmenu li:last-child {
  margin-right: 0;
}
.specialize, .call {
  font-family : 'Tsukushi A Round Gothic';
  font-weight : bold;
  font-size : 14px;
  line-height : 21px;
  color : #808080;
}
.call {
  border-left: 1px solid #F2F2F2;
  padding-left: 15px;
}
.call a {
  color: #F4979F;
}
#menuwrap {
  position: relative;
}
#content {
  position: relative;
}
#menu.fixed {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

/* Back to top */
.back_to_top {
  visibility: hidden;
  background-color: #F4979F;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 58px;
  position: fixed;
  bottom: 65px;
  right: 35px;
  z-index: 90;
  cursor: pointer;
  border-radius: 1px;
  opacity: 0;
  -webkit-transform: translateZ(0);
  transition: all .6s
}

.back_to_top .fa {
  font-size: 18px;
  color: #fff;
  vertical-align: middle;
}

.back_to_top:hover {
  background-color: #009AAC;
  opacity: 1
}

.back_to_top.show {
  visibility: visible;
  bottom: 35px;
  opacity: 1;
}

/*banner*/
.banner, .banner_sub {
  padding: 0;
}
.banner_sub .swiper-container {
  width: 100%;
  height: 210px;
  background: #000;
}
.banner .swiper-container {
  width: 100%;
  height: 500px;
  background: #000;
}
.banner .swiper-slide, .banner_sub .swiper-slide {
  font-size: 18px;
  color:#fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  background: rgba(0, 0, 0, 0.3);
}
.swiper_staff .swiper-slide:hover img {
  opacity: 0.8;
  -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear;
}
.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 500px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.banner .swiper-slide .title, .banner_sub .swiper-slide .title {
  font-size: 30px;
  line-height: 1.3em;
  font-weight: 900;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 100px;
  text-align: center;
}
.banner .swiper-slide .subtitle, .banner_sub .swiper-slide .subtitle {
  font-size: 21px;
  color: #fff;
  margin-bottom: 15px;
  text-align: center;
}
.banner .swiper-slide .text, .banner_sub .swiper-slide .text {
  font-size: 18px;
  max-width: 600px;
  line-height: 1.3;
  color: #fff;
  font-family: 'TsukuARdGothic-Regular';
  margin: 0 auto;
  text-align: center;
}
.img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.about_item .img:before {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    top: 30px;
    bottom: 30px;
    right: 0;
    background-color: #fff;
    z-index: 2;
}
.img:after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
  position: absolute;
  content: '';
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  background-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#F4979F));
  background: -webkit-linear-gradient(top, transparent, #F4979F);
  background: -moz-linear-gradient(top, transparent, #F4979F);
  background: -ms-linear-gradient(top, transparent, #F4979F);
  background: -o-linear-gradient(top, transparent, #F4979F);
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
}
.about_item:hover .img:after, .service_item:hover .img:after {
  opacity: .7;
  top: 0;
}

.service_item .img, .service_item .img img {width: 100%;}

.box_right h3.title_small {
  font-weight : bold;
  font-size : 17px;
  line-height : 30px;
  color : #009AAC;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 5px;
}
.box_right a {
  display: block;
  margin-bottom: 15px;
}
.box_right img {
  width: 100%;
}
.box_left {
  margin-bottom: 60px;
}
.box_left h2 {
  font-size : 22px;
  line-height : 30px;
  color : #009AAC;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
.box_content_right {
  background: #fff;
  padding: 30px 30px 30px 0;
  position: relative;
}

.box_left h3 {
  font-weight : bold;
  font-size : 18px;
  line-height : 30px;
  margin-top: 0;
}
.box_left h3 a {
  color : #009AAC;
}
.box_left h3:hover a {
  color: #F4979F;
}

.box_content_top {
  position: relative;
  z-index: 10;
  top: -60px;
  left: 30px;
  right: 30px;
  bottom: 0;
  padding: 15px;
  background: #fff;
  width: 86%;
}
.btnMore {
  background: url('data:image/svg+xml, %3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2032%209.3%22%20style%3D%22enable-background%3Anew%200%200%2032%209.3%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text/css%22%3E%0A%09.st0%7Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%23009AAC%3B%7D%0A%3C/style%3E%0A%3Cpath%20class%3D%22st0%22%20d%3D%22M27.4%2C9.3L32%2C4.8c0-0.1%2C0-0.1%2C0-0.2L27.4%2C0c0-0.1-0.1-0.1-0.1%2C0l-0.6%2C0.6l3.6%2C3.6H0.5C0.3%2C4.2%2C0%2C4.4%2C0%2C4.7%0A%09C0%2C5%2C0.3%2C5.2%2C0.5%2C5.2h29.7l-3.5%2C3.5l0.6%2C0.6C27.4%2C9.3%2C27.4%2C9.3%2C27.4%2C9.3L27.4%2C9.3z%22/%3E%0A%3C/svg%3E') no-repeat;
  display: inherit;
}
.btnMore:hover {
  background: url('data:image/svg+xml, %3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2032%209.3%22%20style%3D%22enable-background%3Anew%200%200%2032%209.3%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text/css%22%3E%0A%09.st0%7Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%23F4979F%3B%7D%0A%3C/style%3E%0A%3Cpath%20class%3D%22st0%22%20d%3D%22M27.4%2C9.3L32%2C4.8c0-0.1%2C0-0.1%2C0-0.2L27.4%2C0c0-0.1-0.1-0.1-0.1%2C0l-0.6%2C0.6l3.6%2C3.6H0.5C0.3%2C4.2%2C0%2C4.4%2C0%2C4.7%0A%09C0%2C5%2C0.3%2C5.2%2C0.5%2C5.2h29.7l-3.5%2C3.5l0.6%2C0.6C27.4%2C9.3%2C27.4%2C9.3%2C27.4%2C9.3L27.4%2C9.3z%22/%3E%0A%3C/svg%3E%0A') no-repeat;
}
.main_content {
  padding: 40px 0;
}
.main_content h3 {
  font-size: 30px;
  line-height: 1.5em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
.banner_sub .swiper-slide .title {
  margin-top: 50px;
}
.attraction_row:first-child {
  margin-top: 30px;
}
.attraction_row {
  margin-bottom: 60px;
}
.draw {
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 15px;
  box-shadow: inset 0 0 0 2px #f1f1f1;
  color: #3a3a3a;
  position: relative;
  vertical-align: middle;
  border-radius: 0;
  min-height: 275px;
}
.draw::before, .draw::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}

.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #F7B633;
  border-right-color: #F7B633;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #F7B633;
  border-left-color: #F7B633;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}


html i, html em,
html b, html strong,
html span {
  -webkit-transition: none;
  transition: none;
}

.btn-0:before,
.btn-0:after {
  z-index: -1;
  box-sizing: border-box;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 80px;
  line-height: 80px;
  max-width: 340px;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
}

.btn-0 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background: #F4979F;
}
.btn-0:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F4979F;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.btn-0:hover {
  color: #fff;
  background-color: #009AAC;
}
.btn-0:hover:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.w_btnInquiry {
  margin-top: 30px;
  margin-bottom: 30px;
  clear: both;
}
.section_contact {
  border: 1px solid #ccc;
  padding: 30px;
  background: #F1F1F1;
}
.section_contact p {
  color: #3E3E3E;
  font-size: 18px;
  font-family: 'TsukuARdGothic-Bold';
  font-weight: normal;
  margin-bottom: 0;
}
.content_underpages h4 {
  margin: 15px 0;
  line-height: 1.5em;
  font-size: 20px;
}
.content_underpages h5 {
  margin: 15px 0;
  line-height: 1.5em;
  font-size: 16px;
}
.img_center {
  text-align: center;
}
.img_center img {
  margin: 30px auto;
}
.phoneNumber {
  text-align: right;
}

.main_info img {
  margin: 0 auto 15px;
}
.img_center {
  margin: 0 auto 15px;
}
.swiper_staff {
  /* border: 1px solid #eee;
  padding: 15px; */
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper_staff .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.box_about {
  border: 1px solid #009AAC;
  background: #B9E1DC;
  padding: 30px;
  margin: 30px 0;
}
h3.title_sub {
  font-size: 24px;
  padding-bottom: 10px;
}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
  padding: 10px;
  line-height: 1.8em;
  vertical-align: middle;
}
.table_about > thead > tr > th {
  vertical-align: middle;
  border-bottom: none;
  background: #eee;
  padding: 30px 15px;
}
.table_about > thead > tr > th > p {
  margin-bottom: 0;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  padding: 15px;
}
.table_about tr td p {
  line-height: 1.8em;
}
.bread_crumb {
  padding: 0;
  background: #f5f5f5;
}
.breadcrumb {
  background: transparent;
  margin-bottom: 0;
  padding: 15px 0;
}
.breadcrumb li a {
  color: #3a3a3a;
}
.recruitment_page img {
  margin: 30px auto 15px;
}
.gray {
  color: #666666;
}
.table_recruitment {
  margin-top: 50px;
}
.panel-default > .panel-heading {
  padding: 15px 15px 13px;
}
.panel-heading {
  border-radius: 0;
}
.panel {
  border-radius: 0;
  box-shadow: none;
}

.box_right .panel{
  overflow-y: auto;
  height: 500px;
  width: 100%
}

.panel-default .panel-body .datetime{
  text-align: right; 
  font-size:0.7em;
  margin: -10px 0;
}

.info_staff {
  text-align: center;
  border:1px solid rgba(0,0,0,0.07);
  padding: 30px 15px;
  margin-bottom: 30px;
}
.info_staff p {
  margin-bottom: 0;
  font-size: 14px;
  min-height: 75px;
}
.info_staff img {
  margin: 0 auto;
}
.info_staff h4 {
  margin: 30px 0 15px;
  font-weight: bold;
  color: #009AAC;
}
.box_info_staff h2 {
  border-color: #78B7BB;
  margin-top: 0;
}
.box_info_staff {
  padding: 30px;
  border: 1px solid #FFE1B6;
  background: #F9F8EB;
}

/* Contact page */
.frm_contact .form-control{
  height: 42px;
  line-height: 1.5em;
  border-radius: 0;
  box-shadow: none;
}
.frm_contact textarea.form-control {
  height: auto;
}
.btnSend {
  background: #F4979F;
  padding: 12px 30px 10px;
  border-radius: 0;
  color: #fff;
  margin: 0 auto 60px;
  display: block;
  min-width: 200px;
}
.btnSend:hover {
  background: #009AAC;
}

/*menu custom*/
.navbar-nav:not(.sm-collapsible) ul .caret {
  position: absolute;
  right: 0;
  margin-right: 15px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px dashed;
}
.navbar-nav:not(.sm-collapsible) ul a.has-submenu {
  padding-right: 30px;
}
/* make sub menu arrows look like +/- buttons in collapsible mode */
.navbar-nav.sm-collapsible .caret, .navbar-nav.sm-collapsible ul .caret {
  position: absolute;
  right: 0;
  top: 10px;
  margin: -3px 15px 0 0;
  padding: 0;
  width: 32px;
  height: 26px;
  line-height: 24px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}
.navbar-nav.sm-collapsible .caret:before {
  content: '+';
  font-family: monospace;
  font-weight: bold;
}
.navbar-nav.sm-collapsible .open > a > .caret:before {
  content: '-';
}
.navbar-nav.sm-collapsible a.has-submenu {
  /* padding-right: 50px; */
}
/* revert to Bootstrap's default carets in collapsible mode when the "data-sm-skip-collapsible-behavior" attribute is set to the ul.navbar-nav */
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret, .navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] ul .caret {
  position: static;
  margin: 0 0 0 2px;
  padding: 0;
  width: 0;
  height: 0;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-bottom: 0;
  border-left: 4px solid transparent;
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] .caret:before {
  content: '' !important;
}
.navbar-nav.sm-collapsible[data-sm-skip-collapsible-behavior] a.has-submenu {
  padding-right: 15px;
}
/* scrolling arrows for tall menus */
.navbar-nav span.scroll-up, .navbar-nav span.scroll-down {
  position: absolute;
  display: none;
  visibility: hidden;
  height: 20px;
  overflow: hidden;
  text-align: center;
}
.navbar-nav span.scroll-up-arrow, .navbar-nav span.scroll-down-arrow {
  position: absolute;
  top: -2px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-top: 7px dashed transparent;
  border-right: 7px dashed transparent;
  border-bottom: 7px solid;
  border-left: 7px dashed transparent;
}
.navbar-nav span.scroll-down-arrow {
  top: 6px;
  border-top: 7px solid;
  border-right: 7px dashed transparent;
  border-bottom: 7px dashed transparent;
  border-left: 7px dashed transparent;
}
/* add more indentation for 2+ level sub in collapsible mode - Bootstrap normally supports just 1 level sub menus */
.navbar-nav.sm-collapsible ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul .dropdown-menu .dropdown-header {
  padding-left: 35px;
}
.navbar-nav.sm-collapsible ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul .dropdown-menu .dropdown-header {
  padding-left: 45px;
}
.navbar-nav.sm-collapsible ul ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul ul .dropdown-menu .dropdown-header {
  padding-left: 55px;
}
.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu > li > a,
.navbar-nav.sm-collapsible ul ul ul ul .dropdown-menu .dropdown-header {
  padding-left: 65px;
}
/* fix SmartMenus sub menus auto width (subMenusMinWidth and subMenusMaxWidth options) */
.navbar-nav .dropdown-menu > li > a {
  white-space: normal;
}
.navbar-nav ul.sm-nowrap > li > a {
  white-space: nowrap;
}
.navbar-nav.sm-collapsible ul.sm-nowrap > li > a {
  white-space: normal;
}
/* fix .navbar-right subs alignment */
.navbar-right ul.dropdown-menu {
  left: 0;
  right: auto;
}

.banner_top {
  margin-top: 30px;
  margin-bottom: 40px;
  background: #ccc;
}
/*.banner_top img {
  width: 100%;
  height: 362px;
  margin: auto;
}*/

.banner_top img {
  width: 100%;
  height: 500px;
  margin: auto;
  object-fit: cover;
}

.banner_top h2 {
  margin-top: 0;
  text-align: center;
  padding: 30px 0;
  border-bottom: none;
  background: #f2f2f2;
  border-top: 5px solid #479eac;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #4e4e4e;
}

.box_listNews a {
  color: #3a3a3a;
}
.box_listNews a:hover {
  color: #000;
}
.box_listNews .panel {
  margin-bottom: 15px;
}
.box_newsDetail h3 {
  margin-bottom: 0;
  color: #000;
}
.box_newsDetail .date {
  color: #525252;
  margin-bottom: 15px;
  display: block;
}
.box_newsDetail img {
  width: 100%;
  height: 500px;
  margin: auto;
  object-fit: cover;
}
.news_item {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.news_item h4 {
  font-size: 15px;
  color: #44bbce;
  margin-top: 0;
  margin-bottom: 5px;
}
.btn_newDetail {
  padding-left: 20px;
  padding-right: 20px;
  background: #44bbce;
  border-color: #44bbce;
  color: #fff !important;
}
.btn_newDetail:hover {
  background: #F4979F;
  color: #fff !important;
  border-color: #F4979F;
}
.box_newsDetail h3 {
  padding-bottom: 0;
  margin-bottom: 15px;
}

.nf-form-fields-required {
  display: none;
}

.nf-error-msg.nf-error-field-errors {
  text-align: center;
  margin-bottom: 20px;
}

.nf-response-msg {
    text-align: center;
    margin-bottom: 20px;
}






