@charset "UTF-8";


/* 
==================================================
物件を探す
==================================================
*/
/* 路線 */
#content .item5 {
	padding-left:7px;
	margin:10px 0;
	font-size:80%;
}
.item5 dl {
	margin-bottom:5px;
	overflow:hidden;
}

.item5 dl dt  {
	float:left;
	width:6.8em;
	text-align:center;
}

.item5 dl dd  {
	text-align:left;
	margin-left:6.8em;
}

.item5 dl dd a {
	padding-left:5px;
	text-decoration:underline;
}
.item5 dl dd a:hover {
	text-decoration:underline;
	color:#3c78cd;
}
* html .item5 dl dd  {
	display:inline-block;
}

.routecolor-1 {
	background: #205aab;
	font-weight:bold;
	color:#FFF;
	padding:1px 8px 1px 8px;
}
.routecolor-2 {
	background: #037ed2;
	font-weight:bold;
	color:#FFF;
	padding:1px 8px 1px 8px;
}
.routecolor-3 {
	background: #3fa3e7;
	font-weight:bold;
	color:#FFF;
	padding:1px 8px 1px 8px;
}

/* エリア */
.areacolor-1 {
	background: #de8e4c;
	font-weight:bold;
	color:#FFF;
	padding:1px 8px 1px 8px;
}
.areacolor-2 {
	background: #c99834;
	font-weight:bold;
	color:#FFF;
	padding:1px 8px 1px 8px;
}
.areacolor-3 {
	background: #dfb028;
	font-weight:bold;
	color:#FFF;
	padding:1px 8px 1px 8px;
}
.areacolor-4 {
	background: #e1747b;
	font-weight:bold;
	color:#FFF;
	padding:1px 8px 1px 8px;
}
.areacolor-5 {
	background: #f0989d;
	font-weight:bold;
	color:#FFF;
	padding:1px 8px 1px 8px;
}
.areacolor-6 {
	background: #d6bb03;
	font-weight:bold;
	color:#FFF;
	padding:1px 8px 1px 8px;
}
.areacolor-7 {
	background: #42bd93;
	font-weight:bold;
	color:#FFF;
	padding:1px 8px 1px 8px;
}
.areacolor-8 {
	background: #30a367;
	font-weight:bold;
	color:#FFF;
	padding:1px 8px 1px 8px;
}
.areacolor-9 {
	background: #9dc44e;
	font-weight:bold;
	color:#FFF;
	padding:1px 8px 1px 8px;
}

#content .item1 {
	padding-left:7px;
	margin:10px 0;
	overflow:hidden;
	clear:both;
	font-size:80%;
	border-left:4px solid #de6b4c;
}
#content .item1 h5 {
	width:10%;
	padding-top:5px;
	font-weight:bold;
	color:#333333;
	font-size:110%;
	float:left;
}
#content .item1 ul {
	width:90%;
	float:right;
}
#content .item1 li {
	padding:0 0 6px 0;
}
.item1 a {
	text-decoration:underline;
}
.item1 a:hover {
	text-decoration:underline;
	color:#3c78cd;
}
#content .item2 {
	padding-left:7px;
	margin:10px 0;
	overflow:hidden;
	clear:both;
	font-size:80%;
	border-left:4px solid #42bd93;
}
#content .item2 h5 {
	width:10%;
	padding-top:5px;
	font-weight:bold;
	color:#333333;
	font-size:110%;
	float:left;
}
#content .item2 ul {
	width:90%;
	float:right;
}
#content .item2 li {
	padding:0 0 6px 0;
}
.item2 a {
	text-decoration:underline;
}
.item2 a:hover {
	text-decoration:underline;
	color:#3c78cd;
}
#content .item3 {
	padding-left:7px;
	margin:10px 0;
	overflow:hidden;
	clear:both;
	font-size:80%;
	border-left:4px solid #30a367;
}
#content .item3 h5 {
	width:10%;
	padding-top:5px;
	font-weight:bold;
	color:#333333;
	font-size:110%;
	float:left;
}
#content .item3 ul {
	width:90%;
	float:right;
}
#content .item3 li {
	padding:0 0 6px 0;
}
.item3 a {
	text-decoration:underline;
}
.item3 a:hover {
	text-decoration:underline;
	color:#3c78cd;
}
#content .item4 {
	padding-left:7px;
	margin:10px 0;
	overflow:hidden;
	clear:both;
	font-size:80%;
	border-left:4px solid #9dc44e;
}
#content .item4 h5 {
	width:10%;
	padding-top:5px;
	font-weight:bold;
	color:#333333;
	font-size:110%;
	float:left;
}
#content .item4 ul {
	width:90%;
	float:right;
}
#content .item4 li {
	padding:0 0 6px 0;
}
.item4 a {
	text-decoration:underline;
}
.item4 a:hover {
	text-decoration:underline;
	color:#3c78cd;
}
.clearbox {
	clear:both;
}


/*---------- 検索結果一覧 ----------*/

#search_list .col {
	margin-left: 0;
}

/* 左端のカラムの左マージンを削除 */
#search_list .firstlist_box {margin-left: 0;}
#search_list .col.left {margin-left: 0;}

/* 各カラムの幅を％で設定 */
#search_list .search_list_box {
	margin: 0;
	width: 33.33%;
	float: left;
}

.keyword {
	padding:4px 8px;
	background-color:#eaf0f3;
	margin:8px 0 15px 0px;
}
.keyword:before {
	content: "\e900";
	font-family: 'icomoon';
	font-size:14px;
	color: #333;
	font-weight:normal;
}

.search_list_box .bukken-back {
	background-color:#eaf0f3;
	padding:8px;
}

.icon-new {
	color:#ea447b;
	font-size:11px;
	font-weight:bold;
}

#search_list .img {
	padding:0 7px 0px 0;
}
.list-setumei {
 	margin: 0px;
	padding:0px;
}
.list-setumei ul li {
	margin:0px;
	padding:0px 0px 5px 0;
	line-height: 20px;
}
.list-photowaku {
	padding:3px;
	border:solid 1px #CCCCCC;
	float:left;
	text-align: center;
 	background: #FFF;
}

.list-koumokumidashi {
	font-size:70%;
	text-align: center;
	color: #ffffff;
	padding: 1px 5px;
	margin-right:3px;
 	background: #7d796e;
	font-weight: bold;
}
.list-kakaku {
	font-size: 80%;
	text-align: left;
	color: #333333;
	padding: 0px 0px;
	margin:0px;
	font-weight: bold;
}
.list-text {
	font-size: 80%;
	text-align: left;
	color: #333333;
}
.list-bukken-name {
	font-size: 85%;
	text-align: left;
	color: #333;
	line-height: 23px;
	font-weight: bold;
}
.more {
	width:90%;
	font-size: 80%;
	text-align: center;
	color: #ffffff;
	padding: 2px 5px;
	margin:10px auto;
 	background: #47a3a9;
	font-weight: bold;
}
.more:after{
	content: "\e210";
	font-family: 'icomoon';
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	float: right;
	padding-top:1px;
}
.more:hover{
	width:90%;
	font-size: 80%;
	text-align: center;
	color: #ffffff;
	padding: 2px 5px;
	margin:10px auto;
 	background: #65c1c7;
	font-weight: bold;
}

.bukken-syousai-link {
	width:20%;
	font-size: 80%;
	text-align: center;
	color: #ffffff;
	padding: 2px 5px;
	margin:10px 0 20px 0;;
 	background: #47a3a9;
	font-weight: bold;
	float: right;
}
.bukken-syousai-link a {
	color: #ffffff;
}
.bukken-syousai-link:after{
	content: "\e210";
	font-family: 'icomoon';
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	float: right;
	padding-top:1px;
}
.bukken-syousai-link:hover{
	width:20%;
	font-size: 80%;
	text-align: center;
	color: #ffffff;
	padding: 2px 5px;
	margin:10px auto;
 	background: #65c1c7;
	font-weight: bold;
}


#search_list a {
	text-decoration:none;
}

.clear-box {
	clear:both;
	margin-bottom:20px;

}
#pager {
	width:100%;
}
#pager ul{
	float:right;
}
#pager ul li{
	color: #333;
	border:1px solid #5f5f5f;
	float:left;
	margin-right:10px;
	padding:1px 7px;
	font-size: 14px;
}
#pager ul li a{
	color: #333;
}
#pager ul li.on{
	color: #FFF;
	border:1px solid #5f5f5f;
	background-color:#5f5f5f;
	float:left;
	margin-right:10px;
	padding:1px 7px;
}
#pager ul li.on a{
	color: #FFF;
}

/*---------- 物件情報詳細 ----------*/
.midashi-bukkenmei{
	color: #333;
	padding:10px 0 8px 15px;
	background-color:#eaf0f3;
	margin:10px 0 0 0;
	font-size:16px;
	line-height:140%;
	font-weight:bold;
}
.bukken-syosai {
	padding-top:10px;
}
.bukken-syosai p{
	padding:3px 0;
}
.koumoku {
	font-size: 85%;
	text-align: center;
	color: #ffffff;
	padding: 1px 8px;
	margin-right:5px;
 	background: #7d796e;
	font-weight: bold;
}
.kakaku {
	font-size: 115%;
	font-weight: bold;
}

.photo-big{
	width:95%;
	margin:0 auto;
	padding-top:10px;
}
.mini-photo{
	width:94%;
	margin:0 auto;
}
.mini-photo table td{
	margin-right:10px;
	background:#f3f3f3;
}
.mini-photo table td img{
	width:95%;
}
.mini-photowaku{
	width:100%;
	text-align:center;
}


.pr-message {
	font-size: 80%;
	line-height:160%;
	color:#333;
	padding-top:15px;
}
.pr-message .midashi{
	font-size: 145%;
	line-height:130%;
	color:#333;
}

.icon-area{
	width:100%;
	margin:0 auto;
	padding-top:15px;
}
.icon-area ul{
	padding:0px;
}
.icon-area ul li{
	display: inline;
}
.icon-area ul li img{
	padding-bottom:5px;
}

.map   {　/* 作成した地図を使う場合 */
	width:95%;
	text-align: center;
        margin: 20px auto;
	padding:5px;
	border:solid 1px #cccccc;
	background-color:#FFF;
      }


.bukken-subtitle{
	color: #333;
	padding:2px 0 2px 10px;
	background:#afd7fa;
	margin:0;
	font-size:15px;
	margin:0 auto;
}
.bukken-subtitle:before{
	content: "\e913";
	font-family: 'icomoon';
	font-size: 11px;
	font-weight: bold;
	color: #333;
	padding-right:3px;
}


.icon-map:before{
	content: "\e912";
	font-family: 'icomoon';
	font-size: 15px;
	font-weight: bold;
	color: #dc4f4f;
	padding-left:3px;
}
#gaiyou table.formTable {
	width:100%;
	height:auto;
	margin:0 auto;
	background-color: #fff;
	border:1px solid #ddd;
	margin-top:15px;
}
#gaiyou table.formTable th{
	width:20%;
	background-color: #ededed;
	border:1px solid #ddd;
	color:#333;
	font-size:80%;
	padding:5px 10px;
}
#gaiyou table.formTable td{
	color:#333;
	font-size:80%;
}
#gaiyou table.formTable th, td{
	padding:5px 10px;
	border:1px solid #ddd;
	vertical-align: middle; 
	font-weight: normal; 
	font-size:80%;
	text-align: left;
}
label {
	padding:0px 10px;
}

 /* テキストエリアの設定 */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,select{
width: 85%;
padding:3px 0 3px 3px;
margin:5px 10px;
}


/*iphone　max-width: 480px*/
@media (max-width: 480px) {
	.form{
		max-width:100%;
	}

	#gaiyou table.formTable {
		max-width:100%;
	}
	#gaiyou table.formTable tr{
		width:100%;
		display: block;
		list-style: none;
	}
	#gaiyou table.formTable th{
		width:95%;
		display: list-item;
		padding:3px 8px; 
		border:none;
	}
	#gaiyou table.formTable td{
		width:100%;
		display: list-item;
		padding:5px 0 5px 8px; 
		border:none;
	}

	 /* テキストエリアの設定 */
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	textarea,select{
	width:98%;
	padding:5px 0px 5px 3px;
	margin:10px 0;
	font-size:100%;
	}
}







/*-----------------------------------------------------	*/
/*	for - 639px					*/
/*-----------------------------------------------------	*/

@media screen and (max-width: 639px) {

	/* ------ Column ------ */

	/* 各カラムの横並びを解除し、縦１列に並べる */
	#search_list .col,
	#search_list .col.left,
	#search_list .col.right {
		float: none;
		width: auto;
		margin-left: 0;
	}


	/* 横並びを解除し、縦に並べる */
	.item5 dl dt  {
		float: none;
		width: auto;
		text-align:center;
	}

	.item5 dl dd  {
		text-align:left;
		margin-left:0;
	}

	/* 横並びを解除し、縦に並べる */
	#content .item1 {
		margin : 5px 0 10px 0;
		padding-left:0px;
		border-left:none;
	}

	#content .item1 h5 {
		border-top:4px solid #de6b4c;
		padding-top:2px;
		font-weight:bold;
		color:#333333;
		font-size:110%;
		float: none;
		width: auto;
		margin-left: 0;
	}
	#content .item1 ul {
		float: none;
		width: auto;
		margin-left: 0;
	}
	#content .item2 {
		margin : 5px 0 10px 0;
		padding-left:0px;
		border-left:none;
	}
	#content .item2 h5 {
		border-top:4px solid #42bd93;
		padding-top:2px;
		font-weight:bold;
		color:#333333;
		font-size:110%;
		float: none;
		width: auto;
		margin-left: 0;
	}
	#content .item2 ul {
		float: none;
		width: auto;
		margin-left: 0;
	}
	#content .item3 {
		margin : 5px 0 10px 0;
		padding-left:0px;
		border-left:none;
	}
	#content .item3 h5 {
		border-top:4px solid #30a367;
		padding-top:2px;
		font-weight:bold;
		color:#333333;
		font-size:110%;
		float: none;
		width: auto;
		margin-left: 0;
	}
	#content .item3 ul {
		float: none;
		width: auto;
		margin-left: 0;
	}
	#content .item4 {
		margin : 5px 0 10px 0;
		padding-left:0px;
		border-left:none;
	}
	#content .item4 h5 {
		border-top:4px solid #9dc44e;
		padding-top:2px;
		font-weight:bold;
		color:#333333;
		font-size:110%;
		float: none;
		width: auto;
		margin-left: 0;
	}
	#content .item4 ul {
		float: none;
		width: auto;
		margin-left: 0;
	}

}
