@charset "utf-8";

html {
	overflow-y: scroll;
}

body, div, dl, dt, dd, ul, ul li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td,
section, nav, article, aside, hgroup, header, address,
figure, figcaption {
	margin: 0;
	padding: 0;
	line-height: 160%;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
q:before ,q:after {
	content: '';
}
object, embed {
	vertical-align: top;
}
hr, legend {
	display: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
img, abbr, acronym, fieldset {
	border: 0;
}
img {
	vertical-align: top;
	-ms-interpolation-mode: bicubic;
}
ul li {
	list-style-type: none;
}


/* ------ Body ------ */

body {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	color: #333333;
	font-size: 16px;
	line-height: 160%;
	text-align: left;
	letter-spacing: -0.001em;		/* iOS4でのテキストの隙間への対応 */
	-webkit-text-size-adjust: 100%;		/* 文字サイズの自動調整機能のキャンセル */
}
.win body {
	font-family: 'メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}


/* ------ Anchor ------ */

a {
	outline: none;
}

a:link {
	text-decoration: none;
	color: #3b9bd5;
}
a:visited {
	text-decoration: none;
	color: #3b9bd5;
}
a:hover {
	text-decoration: underline;
	color: #3b9bd5;
}
a:active {
	text-decoration: underline;
	color: #3b9bd5;
}

/*-----------------------------------------------------	*/
/*	共通					*/
/*-----------------------------------------------------	*/

/* ------ General Settings ------ */

/* フルードイメージ対応 */
img {
	max-width: 100%;
	height: auto;
}
.ie8 img {
	width: auto;
}

p {
	font-size: 76%;
}

.img {
	text-align: center;
}

.text-center {
	text-align: center;
}

body {
	background-color: #fff;
}

#container {
	position: relative;
	width: 100%;
	max-width: 1800px;
	margin: 0 auto;
}


/* ------ Font ------ */

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ------ Column ------ */

.row {
	max-width: 960px;
	margin: 0 auto;
}
.row:after {
	content: "";
	display: block;
	clear: both;
}

/* 各カラムを横並びにし、左マージンを設定 */
.col {
	float: left;
	margin-left: 3.225806%;
}

/* 左端のカラムの左マージンを削除 */
.col:first-child,
.col.left {margin-left: 0;}

/* カラムの左右を入れ替えるための設定 */
.col.right {
	float: right;
	margin-left: 3.225806%;
}

/* 各カラムの幅を％で設定 */
.one-second {width: 48.387096%;}
.one-third {width: 31.18279%;}
.two-third {width: 65.591397%;}
.one-fourth {width: 22%;}
.third-fourth {width: 73.5%;}

/* ------ Header ------ */

header {
	width: 100%;
	background-color: #fff;
	padding-top: 40px;
}

header .row {
	position: relative;
}
header .row:before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	margin-left: 90px;
	border-top: solid 10px #174c97;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
}

header h1 {
	width: 210px;
	height: 66px;
	margin-top: 20px;
}


/* ------ Global Navi ------ */

/* デスクトップ／タブレット用表示 配置 */
#gnav {
	float: right;
	width: 98%;
	margin-bottom: 5px;
	padding-top: 10px;
}

/* ナビゲーション */
#gnav li {
	float: left;
	width: 16.666%;
}
#gnav a {
	display: block;
	position: relative;
	z-index: 2000;
	height: 30px;
	padding-top: 50px;
	font-size: 80%;
	text-decoration: none;
	color: #333333;
	text-align: center;
}
#gnav a:before {
	display: block;
	position: absolute;
	width: 100%;
	top: 15px;
	text-align: center;
	font-family: 'icomoon';
 	font-size: 22px;
	color: #205aab;
}
#gnav a:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
}
/*---------- menu1 ----------*/
#menu1 a:link,
#menu1 a:visited {
	background-color: #fff;
	border-left: solid 1px #cccccc;
}
/* マウスオーバー時 */
#menu1 a:hover,
#menu1 a:active {
	background-color: #82bde0;
	color: #fff;
	font-weight:bold;
}
/* アイコンフォント */
#menu1 a:before {
	content: "\e100";
	font-size:58px;
	top: 18px;
	font-weight:normal;
}

/*----- menu1_on -----*/
#menu1_on a:link,
#menu1_on a:visited {
	background-color: #82bde0;
	color: #fff;
	font-weight:bold;
}
#menu1_on a:before {
	content: "\e100";
	font-size:58px;
	top: 18px;
	font-weight:normal;
}

/*---------- menu2 ----------*/
#menu2 a:link,
#menu2 a:visited {
	background-color: #fff;
	border-left: solid 1px #cccccc;
}
/* マウスオーバー時 */
#menu2 a:hover,
#menu2 a:active {
	background-color: #82bde0;
	color: #fff;
	font-weight:bold;
}
/* アイコンフォント */
#menu2 a:before {
	content: "\e110";
	font-size:58px;
	top: 15px;
	font-weight:normal;
}

/*----- menu2_on -----*/
#menu2_on a:link,
#menu2_on a:visited {
	background-color: #82bde0;
	color: #fff;
	font-weight:bold;
}
#menu2_on a:before {
	content: "\e110";
	font-size:58px;
	top: 15px;
	font-weight:normal;
}


/*---------- menu3 ----------*/
#menu3 a:link,
#menu3 a:visited {
	background-color: #fff;
	border-left: solid 1px #cccccc;
}
/* マウスオーバー時 */
#menu3 a:hover,
#menu3 a:active {
	background-color: #82bde0;
	color: #fff;
	font-weight:bold;
}
/* アイコンフォント */
#menu3 a:before {
	content: "\e120";
	font-size:40px;
	top: 12px;
	font-weight:normal;
}
/*----- menu3_on -----*/
#menu3_on a:link,
#menu3_on a:visited {
	background-color: #82bde0;
	color: #fff;
	font-weight:bold;
}
#menu3_on a:before {
	content: "\e120";
	font-size:40px;
	top: 12px;
	font-weight:normal;
}



/*---------- menu4 ----------*/
#menu4 a:link,
#menu4 a:visited {
	background-color: #fff;
	border-left: solid 1px #cccccc;
}
/* マウスオーバー時 */
#menu4 a:hover,
#menu4 a:active {
	background-color: #82bde0;
	color: #fff;
	font-weight:bold;
}
/* アイコンフォント */
#menu4 a:before {
	content: "\e130";
	font-size:78px;
	top: 10px;
	font-weight:normal;
}

/*----- menu4_on -----*/
#menu4_on a:link,
#menu4_on a:visited {
	background-color: #82bde0;
	color: #fff;
	font-weight:bold;
}
#menu4_on a:before {
	content: "\e130";
	font-size:78px;
	top: 10px;
	font-weight:normal;
}

/*---------- menu5 ----------*/
#menu5 a:link,
#menu5 a:visited {
	background-color: #fff;
	border-left: solid 1px #cccccc;
	vertical-align : bottom;
}
/* マウスオーバー時 */
#menu5 a:hover,
#menu5 a:active {
	background-color: #82bde0;
	color: #fff;
	font-weight:bold;
}
/* アイコンフォント */
#menu5 a:before {
	content: "\e140";
	font-size:50px;
	top: 5px;
	font-weight:normal;
}
/*----- menu5_on -----*/
#menu5_on a:link,
#menu5_on a:visited {
	background-color: #82bde0;
	color: #fff;
	font-weight:bold;
}
#menu5_on a:before {
	content: "\e140";
	font-size:50px;
	top: 5px;
	font-weight:normal;
}



/*---------- menu6 ----------*/
#gnav li#menu6 {
	float: left;
	width: 16.666%;
	background-color: #205aab;
}
/* 三角 */
#gnav li#menu6 p.triangle{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid #205aab;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    top: 0px;
    left: 100%;
}

#gnav li#menu6 p span{
	width: 100%;
}

#menu6 a:link,
#menu6 a:visited {
	color: #FFF;
}
/* マウスオーバー時 */
#menu6 a:hover,
#menu6 a:active {
	background-color: #205aab;
	color: #fff696;
	font-weight:bold;
}
/* アイコンフォント */
#menu6 a:before {
	content: "\e150";
	color: #fff696;
	font-size:69px;
	top:0px;
	line-height: 115%;
	font-weight:normal;
}


/* ------ Article ------ */

article {
	background-color: #fff;
	padding-bottom: 50px;
}


/* ------ Index ------ */

#index {
	padding-bottom: 20px;
}
@media screen and (min-width: 767px) {
	#index {
		background: url(../images/separetor1.png) no-repeat bottom center;
	}
}

#index section a {
	display: block;
	position: relative;
	padding: 10px 0 30px;
	text-decoration: none;
}
#index section a:link,
#index section a:visited {
	background-color: transparent;
}
#index section a:hover,
#index section a:active {
	background-color: #f5f5f5;
}

#index .img {
	margin-bottom: 10px;
}

#index h1 {
	margin-bottom: 3px;
	font-size: 90%;
	font-weight: bold;
}
#index h1:after {
	content: "\e210";
	font-family: 'icomoon';
	color:#222;
	font-size: 10px;
	font-weight: normal;
	transition-duration: 0.3s;
}
#index section a:link h1:after,
#index section a:visited h1:after {
	margin-left: 5px;
}
#index section a:hover h1:after,
#index section a:active h1:after {
	margin-left: 8px;
}

#index p {
	color: #333;
}


/* ------ Sidebar ------ */

#sidebar {
	width: 220px;
	margin: 30px 0;
}

#sidebar section {

}

#sidebar h2 {
	line-height:50px;
	margin: 0px;
	font-size: 90%;
	font-weight: bold;
	padding-top:3px;
	color: #fff;
	background-color: #174c97;
	border-top-left-radius: 6px; 
	border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px; 
}
#sidebar h2:before {
	content: "\e913";
	font-family: 'icomoon';
	font-size:9px;
	color: #FFF;
	padding:0 5px 0 5px;
}
#sidebar h2 span {
	padding-left: 0px;
}
#sidebar #side-menu ul {
	padding:0px;

}
#sidebar #side-menu ul li{
}
#sidebar #side-menu ul li a {
	width: 100%;
 	background: #dee5e9;
	line-height:40px;
	display:block;
	font-size: 90%;
	color:#333333;
 	border-bottom:2px solid #ffffff;
	background-image:url(../images/side-mini.png);
	background-position:left center;
	background-repeat:no-repeat;

}
#sidebar #side-menu ul li a:hover, #sidebar #side-menu ul li.on a {
 	background: #bed9ff;
	background-image:url(../images/side-mini.png);
	background-position:left center;
	background-repeat:no-repeat;
	color:#174c97;
 	text-decoration: none;
}
#sidebar #side-menu ul li span {
	padding:0px 0 0 20px;

}

#sidebar p {
	margin-left: 70px;
	color: #666;
}

#sidebar .side-banner {
	margin-top: 30px;
}

#sidebar .side-banner ul li{
	width: 220px;
	margin-bottom: 5px;
}
#sidebar .side-banner-top {
	margin-top: 0px;
}

#sidebar .side-banner-top ul li{
	width: 220px;
	margin-bottom: 5px;
}

/* 
==================================================
下層ページ
==================================================
*/
#content p{
	font-size: 80%;
	line-height:150%;
}



/* ------ #content ------ */

#content {
	margin-top: 30px;
}
#content p {
	font-size: 80%;
	line-height:150%;
	color:#333;

}

/* ------ Page Top ------ */

#page-top {
	border-top: solid 1px #d5d5d5;		/* 1番外側のborder */
}

#page-top p {
	font-size: 68%;
	border-top: solid 1px #dedede;		/* 2番目のborder */
}

#page-top a {
	display: block;
	padding-bottom: 3px;
	text-align: center;
	text-decoration: none;
	line-height: 25px;
	color: #666;
	border-top: solid 1px #e5e5e5;		/* 1番内側のborder */
}
#page-top a:after {
	content: "\e901";
	font-family: 'icomoon';
	font-size: 13px;
	font-weight: normal;
	margin-left: 5px;
	color: #666;
}
#page-top a:link,
#page-top a:visited {
	background-color: #eee;
}
#page-top a:hover,
#page-top a:active {
	background-color: #e5e5e5;
}

/* ------ Utility ------ */

#utility {
	position: absolute; 			/* PC用の表示ではposition:absoluteとする */
	width: 100%;
	top: 0;					/* top:0としてヘッダー部に移動 */
	height: 40px;				/* 高さは固定とする */
	background-color: #174c97;
}

#utility .row {
	height: 100%;
}

#feature {
	float: left;
}

#feature p {
	display: inline-block;
	margin-top: 10px;
	padding: 0 5px 0 0px;
	color: #ffffff;
}
#feature p:first-child {
	border-left: none;
}

#feature p img {
	width: 41px;
	height: 20px;
	margin-right: 5px;
}

#feature p a {
	display: block;
	width: 10em;
	text-decoration: none;
}
#feature p a:after {
	content: "\66";
	font-family: 'icomoon';
	font-size: 10px;
	font-weight: normal;
	color: #38bdbb;
	margin-left: 5px;
}
#feature p a:link,
#feature p a:visited {
	color: #999;
}
#feature p a:hover,
#feature p a:active {
	color: #38bdbb;
}

#contact {
	float: right;
	width: 135px;
	margin: 9px 0 0 5px;
	background-color: #e2f4fe;
	overflow: hidden;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
#contact .input{
	padding:0px;
}
#contact .input a:before{
	content: "\e220";
	font-family: 'icomoon';
	font-size:12px;
	padding-right:5px;
}

#contact .otoiawase {
	float: left;
	display: block;
	width: 100%;
	height: 22px;
	border: none;
	background-color: transparent;
	color: #174c97;
	font-weight: bold;
}

#contact a {
	float: right;
	display: block;
	width: 100%;
	line-height: 22px;
	color: #174c97;
	font-weight: bold;
	font-size: 76%;
	text-align: center;
	text-decoration: none;
}
#contact a:link,
#contact a:visited {
	background-color: #e2f4fe;
}
#contact a:hover,
#contact a:active {
	background-color: #e2f4fe;
}


/* ------ Footer ------ */

footer {
	background-color: #194786;
	color:#FFF;
	font-size:70%;
}
footer nav {
	margin: 10px 0px 10px 0;
}
footer nav li {
	display: inline-block;
	padding: 0 5px 0 5px;
	border-left: solid 1px #bbb;
	color: #333;
}
footer nav li:first-child {
	padding-left: 0;
	border-left: none;
}
footer nav a:link,
footer nav a:visited {
	color: #333;
	text-decoration: none;
}
footer nav a:hover,
footer nav a:active {
	text-decoration: underline;
}

#copyright {
	margin-top: 20px;
}

#copyright p {
	font-size: 9px;
	color: #fff;
	text-align:right;
}

/* BOX5をバーの形にする */
.footer-top	{
	background-color: #eee;
	color: #333;
	border-top: solid 1px #d5d5d5;	/* 1番外側のborder */
}

footer	.link-area{
	margin:15px 0 15px 0;
}
.link-area:after {
	content: "";
	display: block;
	clear: both}

	.link-1	{
		float: left;
		width: 20%;
		margin-right: 2%
	}

	.link-2	{
		float: left;
		width: 16%;
		margin-right: 2%
	}

	.link-3	{
		float: left;
		width: 18%;
		margin-right: 2%
	}

	.link-4	{
		float: left;
		width: 20%;
		margin-right: 2%
	}

	.link-5	{
		float: left;
		width: 18%;
	}
}
.link-area	ul.link{
	color:#FFF;
}
.link-area	ul.link a{
	color:#FFF;
	text-decoration:none;
}
.link-area	ul.link a:hover{
	color:#FFF;
	text-decoration:underline;
}
.footer-bottom	{
	background-color: #001f5b;
	color: #FFF;
	padding-bottom: 15px;
}
.footer-bottom	.name{
	font-size:120%;
	padding-top:15px;
	font-weight:bold;
	text-align:left;
}
.footer-bottom	p{
	font-size:100%;
	padding-top:3px;
	text-align:left;
}



/*-----------------------------------------------------	*/
/*	画面幅が768px～1280px				*/
/*-----------------------------------------------------	*/

@media screen and (min-width: 768px) and (max-width: 1280px) {

	/* ------ Column ------ */

	/* 左右に25pxの余白を設定 */
	.row {
		padding: 0 25px;
	}

}

/*-----------------------------------------------------	*/
/*	画面幅が767px以下（スマートフォン専用スタイル）					*/
/*-----------------------------------------------------	*/

@media screen and (max-width: 767px) {

	/* ------ Column ------ */

	/* 各カラムの横並びを解除し、縦１列に並べる */
	.col,
	.col.left,
	.col.right {
		float: none;
		width: auto;
		margin-left: 0;
	}

	/* ------ Header ------ */

	header {
		margin: 0 auto;
		padding-top: 8px;
		background-color: #FFF;
	}
	header .row:before {
		display: none;
	}

	header .col:first-child {
		height: 55px;
	}

	header h1 {
		margin: 0 auto;
		padding-top: 0px;
	}

	/* ------ Global Navi ------ */

	/* スマートフォン用表示では、横幅いっぱいに配置 */
	#gnav {
		float: none;
		width: 100%;
 		overflow:hidden;
		height: 60px;
	}
	#gnav li {
		float: left;
		width: 20%;

	}
	#gnav a {
		height: 25px;
		padding-top: 40px;
		font-size:53%;
	}

	#menu1 a:before {
		content: "\e100";
		font-size:45px;
		top: 13px;
		font-weight:normal;
	}
	#menu2 a:before {
		content: "\e110";
		font-size:45px;
		top: 12px;
		font-weight:normal;
	}
	#menu3 a:before {
		content: "\e120";
		font-size:33px;
		top: 10px;
		font-weight:normal;
	}
	#menu4 a:before {
		content: "\e130";
		font-size:65px;
		top: 8px;
		font-weight:normal;
	}
	#menu5 a:before {
		content: "\e140";
		font-size:42px;
		top: 5px;
		font-weight:normal;
	}

	/* ------ Article ------ */

	article {
		padding-bottom: 0;
	}

	article p {
		font-size: 90%;
	}

	/* ------ Index ------ */

	#index {
		padding-bottom: 0;
	}

	#index section {
		border-top: solid 1px #eee;
	}

	#index section a {
		padding: 15px 20px 15px 15px;
	}
	#index section a:after {
		content: "\e210";
		font-family: 'icomoon';
		font-size: 11px;
		display: block;
		position: absolute;
		width: 10px;
		line-height: 10px;
		top: 50%;
		margin-top: -5px;
		transition-duration: 0.3s;
		color:#333;
		font-weight:bold;
	}
	#index section a:link:after,
	#index section a:visited:after {
		right: 6px;
	}
	#index section a:hover:after,
	#index section a:active:after {
		right: 3px;
	}

	#index h1:after {
		display: none;
	}

	#index .img {
		margin-bottom: 0px;
	}

	/* ------ Sidebar ------ */

	#sidebar {
		width: 100%;
		padding-left: 5px;
 		text-align: center;
		margin-top: 0;
		border-bottom: none;
	}

	#sidebar section a {
		padding: 15px 20px 15px 15px;
	}
	#sidebar h2 {
		line-height:52px;
		margin: 0px;
		font-size: 90%;
		font-weight: bold;
		color: #fff;
		background-image:none;
		background-color: #174c97;
		border-top-left-radius: 0px; 
		border-top-right-radius: 0px;
		-webkit-border-top-left-radius: 0px;
		-webkit-border-top-right-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px; 
	}
	#sidebar h2 span {
		padding-left: 0px;
		text-align: center;
	}
	#sidebar #side-menu ul li a:hover, #sidebar #side-menu ul li.on a {
	 	background: #bed9ff;
		background-image:url(../images/side-mini.png);
		background-position:left center;
		background-repeat:no-repeat;
		color:#174c97;
	 	text-decoration: none;
	}
	#sidebar #side-menu ul li span {
		padding:0px 0 0 0px;
	}
	#sidebar .side-banner {
		margin-top: 30px;
	}

	#sidebar .side-banner ul li{
		width: 100%;
 		text-align: center;
		margin-bottom: 5px;
	}
	#sidebar .side-banner ul li img {
		width: 90%;
	}


	/* ------ Page Top ------ */

	#page-top p {
		font-size: 76%;
	}

	#page-top a {
		line-height: 35px;
	}


	/* ------ Utility ------ */

	#utility {
		position: static;		/* スマートフォン用の表示ではposition:staticとする */
		height: auto;
		padding: 15px 0;
		background-color: #f5f5f5;
		border-bottom: solid 1px #e5e5e5;
	}

	#utility .row {
		height: auto;
	}

	#feature {
		float: none;
		width: 100%;
		text-align: center;
	}

	#feature p {
		font-size:65%;
		margin-top: 15px;
		color: #666;
		border-left-color: #ddd;
	}
	#contact {
		float: none;
		width: 90%;
		margin: 0 auto;
		text-align: center;
		background-color: #e2f4fe;
		border: solid 1px #174c97;
	}

	#contact .otoiawase {
		width: 70%;
		height: 35px;
		color: #666;
	}

	#contact a {
		font-size:80%;
		text-align: center;
		line-height: 35px;
	}


	/* ------ Footer ------ */

	footer {
		border-top: solid 1px #fff;
	}

	footer nav {
		margin-top: 10px;
		padding-bottom: 10px;
	}

	footer nav ul {
		padding: 0 15px;
		text-align: center;
		line-height:200%;
	}

	#copyright {
		margin-bottom: 0;
		padding: 0 15px;
		text-align: center;
	}
	.footer-bottom	{
		background-color: #001f5b;
		color: #FFF;
		padding-bottom: 15px;
	}
	.footer-bottom	.name{
		font-size:90%;
		padding-top:15px;
		font-weight:bold;
		text-align:center;
	}
	.footer-bottom	p{
		font-size:90%;
		padding-top:3px;
		text-align:center;
	}
	.footer-inner { /* footer のナビは非表示にする */
		display:none;
	}


	/* 横並びを解除し、縦に並べる */
	#content .item1 h5 {
		float: none;
		width: auto;
		margin-left: 0;
	}
	#content .item1 ul {
		float: none;
		width: auto;
		margin-left: 0;
	}
}
