.header-main .header .sologan span{
}
.footer .footer-left{
    top: 77px;
}
.footer .footer-left{
    width: 690px;
}
.sroll_content .descption{
    font-size: 10px !important;
}
ol.sub-1{
}
.menu-item ul li a {
    padding-left: 12px;
    padding-right: 17px;
}