
* {
    font-family: 'Meiryo UI',arial;
    margin: 0;
    padding: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.header-main {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 175px;
    width: 100%;
}
.header-main .header {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 945px;
}
.header-main .header .logo {
    left: 0;
    position: absolute;
    top: 16px;
}
.header-main .header .logo a {
    background: url("../../images/logo.png") no-repeat scroll 0 0;
    display: block;
    height: 34px;
    text-indent: -9999px;
    width: 196px;
    /*margin-top: 7px;*/
    margin-top: 25px;

}
.header-main .header .sologan {
    font-size: 20px;
    left: 237px;
    position: absolute;
    top: 16px;
    width: 290px;
}
.header-main .header .sologan img{
    padding-top: 10px;
}

.header-main .header .sologan.sologan1 img{
    padding-top: 0px;
    margin-left: -15px;
}

.header-main .header .sologan.sologan2{
    left: 429px;
}
.header-main .header .sologan span {
    color: #AA7D50;
    font-size: 12px;
    line-height: 20px;
    display: block;
}
.header-main .header .search-form {
    background: url("../../images/bg_s_top.png") no-repeat scroll left center ;
    height: 30px;
    position: absolute;
    right: 178px;
    top: 20px;
    width: 251px;
}
.header-main .header .send {
    background: none repeat scroll 0 0 ;
    border: medium none;
    cursor: pointer;
    height: 26px;
    position: absolute;
    right: -1px;
    text-indent: -9999px;
    top: -1px;
    width: 26px;
}
.f-search {
    position: relative;
}
.f-search input[type="text"] {
    border: medium none;
    color: #000000;
    font-size: 11px;
    height: 21px;
    left: 97px;
    outline: 10px none;
    position: absolute;
    top: 4px;
    width: 126px;
}
.header .contact-text {
    font-size: 12px;
    position: absolute;
    left: 700px;
    top: 72px;
    width: 300px;
}
.header .contact-text .phone {
    color: #FF0000;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: -0.4px;
}
.web-mail {
    position: absolute;
    right: 0;
    top: 10px;
    width: 250px;
}
.web-mail a {
    background: url("../../images/webmail.png") no-repeat scroll left top ;
    display: block;
    height: 74px;
    text-indent: -9999px;
    width: 138px;
}
.menu-main {
    background: url("../../images/bg-menu-main.png") repeat-x scroll left top ;
    border-top: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
    height: 53px;
    width: 100%;
}
.menu {
    background: url("../../images/bg-menu.png") repeat-x scroll left top ;
    border-radius: 10px 10px 0 0;
    height: 45px;
    margin: 9px auto 0;
    width: 990px;
}
.menu-item {
    display: block;
    margin: 0 auto;
    width: 100%;
    float: left;
}
.menu-item ul {
    display: inline-table;
    width: 100%;
    float: left;
    text-align: center;
}
.menu-item ul li {
    background: url("../../images/bg-menu-item.png") repeat-x scroll left top;
    border-radius: 5px 5px 0 0;
    display: inline-block;
    height: 40px;
    margin-right: 7px;
    margin-top: 5px;
    padding-left: 6px;
    zoom: 1;
    z-index: 10;
}
.menu-item ul li:last-child {
    margin-right: 0;
}
.menu-item ul li a {
    background: url("../../images/icon-menu.png") no-repeat scroll left center ;
    color: #000000;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
}
.menu-item li a span {
    margin-left: 10px;
    text-transform: uppercase;
}
.menu-item ul li.active {
    background: url("../../images/bg-menu-active.png") repeat-x scroll left top ;
}
.menu-item ul li.active a {
    background: url("../../images/icon-menu-active.png") no-repeat scroll left center ;
    color: #FFFFFF;
}
.menu-item ul li.active ol li a.active {
    background: #f67c2f;
    padding-right: 0;
}
.menu-item ul li:hover {
    background: url("../../images/bg-menu-active.png") repeat-x scroll left top ;
}
.menu-item ul li:hover a {
    background: url("../../images/icon-menu-active.png") no-repeat scroll left center ;
    color: #FFFFFF;
}
.menu-item ul li:hover ol li {
    background: none;
}
.menu-item ul li:hover ol a {
    color: #FFFFFF;
    background: none;

}
.sub-menu-main {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #CBCBCB;
    height: 28px;
    width: 100%;
}
.main-content {
    margin: 5px auto 0;
    width: 954px;
    /*position: relative;*/
}
.main-left {
    float: left;
    width: 696px;
    /*position: absolute;*/
    height: 100%;
    /*overflow: hidden;*/
}
.main-right {
    float: right;
    width: 229px;
}
.main-left .content-search {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCBCB;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 15px 12px;
}
.main-left .content-banner {
    margin-bottom: 15px;
}
.main-left .feture {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCBCB;
}
.main-right .box-main {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCBCB;
    margin-bottom: 16px;
}
.feture {
    padding: 1px;
}
.header-box {
    background: url("../../images/bg-title-content.png") repeat-x scroll left top ;
    height: 36px;
}
.header-box .box-icon {
    overflow: hidden;
}
.header-box .icon-build-1 {
    background: url("../../images/icon-title-1.png") no-repeat scroll left center ;
    height: 36px;
    line-height: 36px;
}
.header-box .icon-build-2 {
    background: url("../../images/icon-title-2.png") no-repeat scroll left center ;
    height: 36px;
    line-height: 36px;
}
.header-box h3 {
    color: #FFFFFF;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin-left: 60px;
    text-transform: uppercase;
}
.header-box .box-popup {
    float: right;
}
.header-box .box-popup a {
    background: none repeat scroll 0 0 #F9A01B;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    margin-right: 5px;
    margin-top: 4px;
    padding: 0 10px;
    text-decoration: none;
}
.box-item {
    display: inline-table;
    width: 100%;
    float: left;
}
.box-item .item {
    display: inline-block;
    vertical-align: top;
    float: left;
    /* min-height: 230px; */
    margin: 0px 19px 12px;
    overflow: hidden;
    width: 192px;
}

.box-item .item:nth-child(1), .box-item .item:nth-child(2), .box-item .item:nth-child(3) {
    margin-top: 23px;
}
.box-item .item img {
    border: 1px solid #CBCBCB;
    height: 118px;
    width: 190px;
    margin-bottom: 10px;
}
.box-item .item img:hover {
    opacity: 0.7;
}
.box-item .item a {
    text-decoration: none;
}

.box-item .item p {
    margin-bottom: 10px;
    font-size: 11.7px;
    word-break: keep-all;
    word-wrap: break-word;
}

// .box-item .item .name-building {
//     height: 36px; /* exactly three lines */
//     overflow: hidden;
//     display: -webkit-box;
//     -webkit-line-clamp: 2;
//     -webkit-box-orient: vertical;
//     line-height: 21px;
// }

.box-item .item .name-building {
    line-height: 21px;
}

.box-item .item h4 {
    color: #F7931E;
    display: block;
    font-size: 11.7px;
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    line-height: 17px;
}
.box-item .item .content {
    color: #3A3A3A;
    font-size: 12px;
    line-height: 18px;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.feture-2 .box-item .item {
    height: 370px !important;
}

.feture-3 .box-item .item {
    height: 370px !important;
}

.feture-4 .box-item .item {
    height: 370px !important;
}

.feture-1 .box-item .item {
    height: 370px !important;
}

.orange {
    color: #F7931E;
}
.footer-main {
    height: 154px;
    width: 990px;
    margin:0 auto;
}
.footer {
    height: 100%;
    padding: 0 20px;
}
.footer .footer-left {

    bottom: 18px;
    width: auto;
    margin-top:74px;
    float:left;
    width:inherit;
    word-wrap:break-word;
}
.footer .footer-left img {
    display: block;
    float: left;
    /*margin-top: 6px;*/
    padding-right:13px;
    position: relative;
    top: -6px;
}
.footer .footer-left .address {
    margin-top: 10px;
    float:left;

}
.footer .footer-left .address span {
    color: #fff;
    font-size: 11px;
    line-height: 20px;
}
.footer-right {
    float:right;
    margin-top:74px;
    width: 255px;
    word-wrap:break-word;
}
.footer-right span {
    color: #FFFFFF;
    font-size: 11px;
    line-height: 16px;
    text-align: right;
    letter-spacing: -0.8px;
}
#top {
    background: url("../../images/icon-top-page.png") no-repeat scroll left bottom ;
    bottom: 100px;
    cursor: pointer;
    height: 163px;
    position: absolute;
    right: 124px;
    text-indent: -9999px;
    width: 85px;
    bottom: -60px;
}
.box-main .header {
    background: url("../../images/bg-title-right.png") repeat-x scroll left top ;
    height: 33px;
    width: 100%;
}
.box-main .icon {
    height: 100%;
}
.box-main .icon h3 {
    font-size: 13px;
    line-height: 33px;
    margin-left: 40px;
    text-align: center;
    text-transform: uppercase;
}
.icon-right-1 {
    background: url("../../images/icon-right-1.png") no-repeat scroll left center ;
}
.icon-right-2 {
    background: url("../../images/icon-right-2.png") no-repeat scroll left center ;
}
.icon-right-3 {
    background: url("../../images/icon-right-3.png") no-repeat scroll left center ;
}
.box-main .line {
    height: 4px;
    overflow: hidden;
    width: 100%;
}
.box-main .line .line1 {
    background: none repeat scroll 0 0 #19B5F1;
    float: left;
    height: 4px;
    width: 87px;
}
.box-main .line .line2 {
    background: none repeat scroll 0 0 #F57324;
    float: left;
    height: 4px;
    width: 139px;
}
.right-item {
    margin: 3px 9px;
}
.right-item ul {
    display: block;
}
.right-item ul li {
    background: url("../../images/line-div.jpg") no-repeat scroll left 15px ;
    display: block;
}
.right-item ul li:hover {
    background-color: #F3EFEF;
}
.right-item ul li a {
    color: #4D4D4D;
    display: block;
    font-size: 15px;
    margin-left: 17px;
    padding: 11px 0;
    text-decoration: none;
}
.right-item ul li a.orange {
    color: #F7931E;
    font-size: 13px;
    font-weight: bold;
}
.line-dotted {
    border-bottom: 1px dotted #FF8B15;
    display: block;
    height: 2px;
    margin-left: 10px;
    width: 92%;
}
.des {
    margin-left: 15px;
}
.box-banner img {
    border: 1px solid #CCCCCC;
    display: block;
    margin: 0 auto 5px;
    text-align: center;
}
.right-item .date {
    padding: 0;
}
.clear {
    clear: both;
}
.search-option-f {
}
.content-search-left {
    float: left;
    width: 234px;
}
.content-search-right {
    float: right;
    width: 430px;
}
.step-1 .header-step1 {
    background: url("../../images/bg-menu-search.png") repeat-x scroll left top ;
    border-radius: 5px 5px 0 0;
    float: left;
    height: 40px;
    padding-right: 5px;
}
.step-1 .icon-step-1 {
    background: url("../../images/icon-title-search.png") no-repeat scroll left 7px ;
    height: 40px;
}
.step-1 .icon-step-1 span {
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 40px;
    padding-left: 17px;
}
#option-2 {
    margin-top: 17px;
}
.option-s {
    background: none repeat scroll 0 0 #F9EFA7;
    border: 1px solid #CBCBCB;
    clear: both;
    width: 225px;
}
.option-s .option {
    background: url("../../images/bg-option.png") repeat-x scroll left top ;
    height: 62px;
    margin: 12px 5px;
    width: 214px;
}
.option-icon {
    height: 62px;
    line-height: 62px;
    padding-left: 65px;
}
.option-icon-1 {
    background: url("../../images/icon-title-office.png") no-repeat scroll left center ;
    cursor: pointer;
}
.option-icon-2 {
    background: url("../../images/icon-title-house.png") no-repeat scroll left center ;
    cursor: pointer;
}
.option-icon span {
    display: block;
    float: left;
    line-height: 43px;
}
.name-option {
    color: #000000;
    display: block;
    font-size: 13px;
    padding-top: 12px;
    width: 125px;
}
span.radio-opt {
    padding-top: 25px;
}
.wrap-opt {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    height: auto;
    margin: 5px auto;
    width: 420px;
}
.wrap-opt .submit {
    padding-bottom: 10px;
}
.step-2 .option-s {
    width: 100%;
}
.wrap-input {
    clear: both;
}
.option-s .wrap-input .select {
    display: block;
    float: left;
    height: 24px;
    margin: 9px 18px;
    width: 166px;
}
.submit-icon {
    display: block;
    height: 28px;
    margin: 23px auto 0;
    width: 78px;
}
.submit input {
    background: url("../../images/icon-button-search.png") no-repeat scroll left center #FF8905;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    height: 28px;
    width: 78px;
}
.search-s {
    border-top: 1px solid #CCCCCC;
    clear: both;
    margin-top: 9px;
    overflow: hidden;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 8px;
    position: relative;
}
.search-s .opt-wap {
    border: medium none;
    cursor: pointer;
    left: 270px;
    position: absolute;
    top: 17px;
    z-index: 10;
}
.search-s .opt-wap select {
    border: medium none;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 79px;
}
.p111 {
    background: url("../../images/bg-button-blue.png") repeat-x scroll left center ;
    border-radius: 5px;
    color: #FFFFFF;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-left: 4px;
    width: 216px;
}
.p111 span {
    background: url("../../images/icon-button-search.png") no-repeat scroll left center ;
    display: block;
    line-height: 35px;
    padding-left: 38px;
}
.wrap-s {
    background: url("../../images/bg-s.png") no-repeat scroll left center ;
    display: block;
    float: left;
    height: 36px;
    margin-left: 28px;
    position: relative;
    width: 327px;
}
.wrap-s input[type="text"] {
    border: medium none;
    color: #000000;
    font-size: 11px;
    height: 22px;
    left: 101px;
    position: absolute;
    top: 7px;
    width: 193px;
}
#select-customcategory-1 {
    color: #808080;
    cursor: pointer;
    display: block;
    font-size: 10px;
    height: 22px;
    left: 265px;
    line-height: 18px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 17px;
    width: 73px;
    z-index: 10;
}
.opt-1 option {
    background: none repeat scroll 0 0 #DAF0F7;
    color: #808080;
    font-size: 11px;
    padding: 5px;
}
#select-customcategory-2 {
    color: #808080;
    cursor: pointer;
    display: block;
    font-size: 10px;
    height: 20px;
    left: 6px;
    line-height: 18px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 72px;
    z-index: 10;
}
.search-form .opt-wap {
    border: medium none;
    left: 5px;
    position: absolute;
    top: 2px;
    z-index: 10;
}
.search-form .opt-wap select {
    border: medium none;
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 78px;
}
.opt-2 option {
    color: #808080;
    font-size: 11px;
    padding: 5px;
}
.search-s input[type="submit"] {
    background: url("../../images/bg-button-blue.png") repeat-x scroll left center ;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    height: 28px;
    margin-left: 15px;
    margin-top: 4px;
    padding: 0 10px;
}
.content-search {
    position: relative;
}
.mail-s {
    background: none repeat scroll 0 0 #00AEEF;
    height: 26px;
    padding: 0 5px;
    position: absolute;
    right: 12px;
    text-align: center;
}
.mail-s span {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 26px;
}
body {
    background: url("../../images/bg-footer-body.png") repeat-x scroll left bottom ;
}
.wrapper-main {
    background: url("../../images/bg-body-sky.jpg") repeat-x scroll center 184px ;
    position: relative;
}
.feture-1, .feture-2,
.feture-3, .feture-4 {
    margin-bottom: 25px;
    overflow: hidden;
}
.jqTransformSelectWrapper {
    margin: 28px 23px -4px;
}
.clearAll {
    clear: both;
}
.jqTransformSelectWrapper {
    border: 1px solid #CBCBCB;
    border-radius: 5px;
}
.menu-item ul > li:hover ol {
    display: block;
}
.menu-item ul li:hover ol li a {
    color: #000000;
}
.menu-item ul > li {
    position: relative;
}
ol.sub-1 {
    left: 20px;
}
ol.sub-menu {
    display: none;
    position: absolute;
    top: 37px;
    background: #e6e6e6;
    z-index: 10;
    left: 0;
    width: 100%;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top: 1px solid #FFFFFF;
}
ol.sub-menu li {
    background: none repeat scroll 0 0;
}
.menu-item ol li {
    position: relative;
}
ol.sub-menu li a {
    background: none;
    color: #000000;
    height: 30px;
    line-height: 25px;
    height: auto;
    margin: 0;
    padding:5px 0 2px;
    display: block;
    width: 100%;
}
ol.sub-menu li a.last-child {
    border: medium none;
}
ol.sub-menu li a span {
    background: url("../../images/icon-menu-sub.png") no-repeat scroll left center ;
    display: block;
    margin: 0 3px 0 8px;
    padding: 0 3px 0 16px;
    line-height: 17px;
    text-align: left;
}
ol.sub-menu li a.active, ol.sub-menu li a:hover {
    background: url("../../images/icon-menu-sub-active.png") no-repeat scroll left center;
}
ol.sub-menu li a.active, ol.sub-menu li a:hover {
    background: none repeat scroll 0 0 #F9A01B;
    color: white;
    background: url("../../images/icon-menu-sub-active.png") no-repeat scroll left center;    
}
ol.sub-menu li a.active span, ol.sub-menu li a:hover span{
    color: white;
    background: url("../../images/icon-menu-sub-active.png") no-repeat scroll left center;    
}
.menu-item ol.sub-menu li:hover {
    background: #f67c2f;
    color: white;
}
.box-item-detail {
    padding: 15px;
}
.box-item-detail .deatil-top {
    width: 100%;
}
.box-item-detail .deatil-top .thumb {
    display: block;
    float: left;
    margin-right: 18px;
    text-align: center;
    width: 189px;
}
.box-item-detail .deatil-top .thumb img {
    border: 1px solid #CBCBCB;
}
.box-item-detail .deatil-top .desc {
    display: block;
    overflow: hidden;
    width: 452px;
}
.box-item-detail .deatil-top .desc .title {
    color: #F7931E;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.bg-x {
    background: none repeat scroll 0 0 #E2E2E2;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
    padding: 2px 5px;
    width: 39px;
}
.desc tr {
}
.desc tr td {
    color: #3A3A3A;
    font-size: 13px;
    line-height: 19px;
    padding: 6px 5px;
}
.box-item-detail .slide {
    clear: both;
    margin-top: 20px;
    overflow: hidden;
}
.comment {
    margin-bottom: 10px;
    margin-top: 10px;
}
.comment .title-comment, .contact-detail .title {
    color: #F9A01B;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}
.comment p {
    font-size: 14px;
    line-height: 19px;
}
.detail-pro tr, .detail-pro td {
    border: 1px solid #999999;
}
.detail-pro td {
    line-height: 21px;
    padding: 7px 5px;
}
.detail-pro .label {
    background: none repeat scroll 0 0 #E6E6E6;
    padding: 10px 5px;
}
.detail-pro .header-td {
    background: none repeat scroll 0 0 #F7CC94;
    padding: 10px 5px;
}
.contact-s .thumb {
    float: left;
    overflow: hidden;
    width: 102px;
}
.contact-s .detail-p {
    float: left;
    margin-left: 20px;
    width: 530px;
}
.contact-s .detail-p span {
    display: block;
    font-size: 13px;
}
.contact-s .detail-p span.title {
    color: #009ED2;
    font-size: 17px;
    line-height: 21px;
    margin: 0;
    padding: 0;
}
.contact-s .detail-p span.time, .contact-s .detail-p span.add {
    line-height: 20px;
}
.contact-s .detail-p span.phone {
    background: url("../../images/icon-phone.jpg") no-repeat scroll left top ;
    color: #F9A01B;
    line-height: 30px;
    margin-bottom: 8px;
    padding-left: 52px;
}
.contact-s .detail-p span.icon-contact {
    background: url("../../images/button-contact.jpg") no-repeat scroll left top ;
    height: 35px;
}
.contact-s .detail-p span.icon-contact a {
    display: block;
    height: 35px;
    text-decoration: none;
    text-indent: 9999px;
}
.contact-detail .title {
    padding-top: 20px;
}
.list .deatil-top {
    border-bottom: 1px dotted #CBCBCB;
    margin-bottom: 20px;
    overflow: hidden;
}
.list .deatil-top.last-child {
    border: medium none;
}
.list .deatil-top .read-more {
    clear: both;
    margin-bottom: 5px;
    text-align: right;
    padding-right: 20px;
}
.icon-new {
    background: url("../../images/icon-news.jpg") no-repeat scroll right top ;
    padding-right: 46px;
}
.icon-new-recommended {
    background: url("../../images/icon-new-recommended.jpg") no-repeat scroll right top ;
    display: block;
    height: 29px;
    padding-right: 143px;
    padding-top: 12px;
}
.-recommended {
    background: url("../../images/-recommended.jpg") no-repeat scroll right top;
    display: block;
    height: 29px;
    padding-right: 143px;
    padding-top: 12px;
}
.pagin-wap {
  height: 29px;
  line-height: 29px;
  overflow: hidden;
}
.pagin-top{
    margin-bottom: 20px;
}
.pagination-bottom {
    text-align: center;
}
.pagination-bottom a, .pagination-bottom strong {
    color: #4D4D4D;
    text-decoration: none;
    border: 1px solid #BFBFBF;
    padding: 3px 5px;
    margin: 2px;
}
.pagination-top {
    margin-right: 15px;
    text-align: right;
}
.pagination-top a, .pagination-top strong {
    color: #FFFFFF;
    text-decoration: none;
}
.pagination-bottom strong, .pagination-top strong {
    font-weight: bold;
}
.pagination-bottom .total_row{
    font-weight: normal;
}
.news-wrapp {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCBCB;
    padding: 3px;
}
.breakcum {
    display: block;
}
.breakcum span a {
    color: #000000;
    font-size: 13px;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    text-transform: uppercase;
}
.navi {
    display: block;
    overflow: hidden;
    padding: 8px;
}
.navi span {
    display: block;
    float: left;
}
.navi span a {
    color: #754C24;
    display: block;
    font-size: 12px;
    text-decoration: none;
}
.navi > span {
    margin-right: 20px;
}
h4.news-title {
    background: url("../../images/h-title-news.jpg") repeat-x scroll left top ;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    padding-left: 15px;
}

.mail-show-pc {
    display: block;
}

.mail-show-sm {
    display: none;
}
.news-wrapp .date-post {
    padding: 15px;
}
.date-post span {
    font-size: 13px;
}
.date-post span.date {
    color: #754C24;
    padding-left: 10px;
}
.detail-news {
    color: #333333;
    font-size: 12px;
    line-height: 20px;
    padding: 0 15px 15px;
    overflow: hidden;
}
.news-box .right-item ul li .orange {
    color: #F7931E;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding-left: 14px;
    padding-top: 9px;
}
.iframe {
    text-decoration: none;
    float: left;
}
.box-banner .right-item {
    margin: 0;
}
.entry-content {
    overflow: hidden;
}
.ullist li {
    list-style: none outside none;
}
.f_map {
    text-decoration: none;
}
ol.sub-menu li {
    margin: 5px 0;
    padding: 0;
    border-bottom: 1px solid #FFF;
    width: 100%;
    border-radius: 0;
    margin: 0;
    height: auto;    
}

.contact-text span {
    display: block;

    font-size: 13px;
    line-height: 21px;
    white-space: nowrap;
}
.contact-text .phone-warp {
    display: block;
    float: left;
}
.thumb img {
    text-align: center;
}
.select_option {
    display: block;
    float: left;
    margin: 20px 22px 10px;
}
.search-no {
    padding: 20px 0;
    text-align: center;
}
input.send_bg[type="submit"] {
    background: none repeat scroll 0 0;
    position: absolute;
    right: 1px;
    text-indent: -999px;
    width: 29px;
}
.share {
    clear: both;
    text-align: right;
}
.share .like span.like_label {
    display: block;
    float: left;
    font-size: 11px;
    height: 25px;
    line-height: 24px;
    padding-left: 19px;
}
.share .like {
    background: url("../../images/bg_likeface.png") repeat-x scroll 0 0 ;
    border: 1px solid #7689B5;
    float: right;
    position: relative;
    width: 222px;
}
.share .like .fb-like {
    line-height: 24px;
    margin-right: 2px;
    padding-top: 3px;
    width: 78px;
}
.hand_icon {
    left: -24px;
    position: absolute;
    top: -3px;
}
.box-item-detail .detail-pro {
    margin-top: 12px;
}
.contact-s {
    overflow: hidden;
}
.detail-pro {
    clear: both;
    overflow: hidden;
}
.advanced-slider {
    z-index: 0;
}
.tablenone td, .tablenone tr {
    border: medium none;
    padding: 0;
}
.language-w {
    display: block;
    float: right;
    padding-top: 14px;
    margin-right: 28px;
}
.language-w a {
    display: block;
    float: left;
    height: 32px;
    padding-right: 8px;
    width: 32px;
}
.language-w a.japanese {
    background: url("../../images/jp.png") no-repeat scroll left top ;
}
.language-w a.vietnamese {
    background: url("../../images/vn.png") no-repeat scroll left top ;
    padding: 0;
}
.hightp {
    color: #E10707;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 4px;
}
.iframe span.mail-contact{
    background: url("/../static/images/btn_title_webcontact.png") no-repeat left center;
    color: #0054A8;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 31px;
    line-height: 22px;
    padding-left: 27px;
    margin-top: 7px;
    width: 226px;
    text-indent: -9999px;
}
.iframe span.mail-web-contact{
    background: url("../../../static/images/btn_title_webcontact.png") no-repeat left center;
    color: #0054A8;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 31px;
    line-height: 22px;
    padding-left: 27px;
    margin-top: 7px;
    width: 226px;
    text-indent: -9999px;
}
.iframe span.mail-web-contact2{
    background: url("../../../static/images/btn_title_webcontact.png") no-repeat left center;
    color: #0054A8;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 31px;
    line-height: 22px;
    padding-left: 27px;
    margin-top: 7px;
    width: 226px;
    text-indent: -9999px;
}
.mail-contact-lh {
  background: url("/../static/images/btn_title_webcontact.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  color: #0054a8;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 31px;
  line-height: 22px;
  margin-top: 7px;
  padding-left: 27px;
  text-indent: -9999px;
  width: 226px;
}
.mail-contact-p_01 {
  background: url("/../static/images/btn_title_webcontact.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  color: #0054a8;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 34px;
  line-height: 22px;
  margin-top: 7px;
  padding-left: 27px;
  text-indent: -9999px;
  width: 256px;
}

.mail-contact-bg2 {
  background: url("/../static/images/btn_title_webcontact2.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  color: #0054a8;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 34px;
  line-height: 22px;
  margin-top: 7px;
  padding-left: 27px;
  text-indent: -9999px;
  width: 256px;
}

.mail-contact-bg3 {
  background: url("/../static/images/btn_title_webcontact3.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  color: #0054a8;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 34px;
  line-height: 22px;
  margin-top: 7px;
  padding-left: 27px;
  text-indent: -9999px;
  width: 256px;
}

.mail-contact-bg4 {
  background: url("/../static/images/btn_title_webcontact4.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  color: #0054a8;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 34px;
  line-height: 22px;
  margin-top: 7px;
  padding-left: 27px;
  text-indent: -9999px;
  width: 304px;
}

.mail-contact-bg5 {
  background: url("/../static/images/btn_title_webcontact5.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  color: #0054a8;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 34px;
  line-height: 22px;
  margin-top: 7px;
  padding-left: 27px;
  text-indent: -9999px;
  width: 270px;
}

.iframe_page span.mail-contact{
    background: url("../../../static/images/btn_title_webcontact.png") no-repeat left center;
    width: 226px;
}
.logo-span{
    color: #AA7D50;
    font-size: 12px;
    line-height: 19px;
}
.sologan > img {
    margin-top: 6px;
}
.sologan.sologan2 > img {
    margin-top: 22px;
}
.sologan.sologan2 > a{
    display: block;
    margin-top: 9px;
}
.sologan.sologan2 > a img{
    width: 184px;
}

/*=====================page staff============================*/
.profile-wap {
    margin: 30px 15px;
    width: 100%;
}
.profile-item {
    overflow: hidden;
    padding-bottom: 30px;
    width: 100%;
}
.profile-item .avartar {
    border: 5px solid #CBCBCB;
    float: left;
    margin-right: 10px;
    position: relative;
}
.profile-item .avartar > img {
    border: 1px solid #FFFFFF;
    width: 154px;
}
.profile-item .profile-detail {
    display: block;
    float: left;
    width: 68%;
}
.profile-item .profile-detail > h4 {
    font-size: 15px;
    font-weight: bold;
}
.profile-item .prof-detail {
    font-size: 15px;
    font-weight: normal;
}
.profile-item .avartar .cv {
    background: none repeat scroll 0 0 #14B4F0;
    bottom: 0;
    font-size: 13px;
    font-weight: bold;
    height: 26px;
    left: 0;
    line-height: 29px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    text-indent: -9999px;
}
.profile-item .profile-detail h5 {
    font-size: 15px;
    font-weight: bold;
}
.cv-name {
    background: none repeat scroll 0 0 ;
    border: 0 none;
    bottom: 0;
    color: #FFFFFF;
    font-size: 13px;
    height: 26px;
    left: 0;
    line-height: 27px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.tag_cloud{
   /* bottom: 0;
    position: absolute;*/
}

.tag_cloud a{
    /* background: #f5f5f5; */
    /*color: #7d766b;*/
    color: #fff;
    display: block;
    float: left;
    font-size: 12px !important;
    margin-bottom: 6px;
    margin-right: 6px;
    padding: 3px 2px;
    /* -webkit-box-shadow: 3px 3px 5px 0px rgba(238, 238, 238, 0.75); */
    /*-moz-box-shadow: 3px 3px 5px 0px rgba(238, 238, 238, 0.75);*/
    /* box-shadow: 3px 3px 5px 0px rgba(238, 238, 238, 0.75); */
    text-decoration: none;
}

.tag_cloud a:hover {
    /*opacity: 0.7;*/
    /*color: #000;*/
    cursor: default;
}

.right-new-item {
    margin: 3px 9px;
}
.right-new-item ul {
    display: block;
}
.right-new-item ul li {
    display: block;
    border-bottom: 1px solid #F57324;
}

.right-new-item ul li:last-child {
    border-bottom: none;
}

.right-new-item ul li:hover {
    background-color: #F3EFEF;
}

.right-new-item ul li a {
    color: #4D4D4D;
    display: block;
    font-size: 12px;
    margin-left: 17px;
    padding: 11px 0;
    text-decoration: none;
}
.right-new-item.text-intro a {
  line-height: 22px;
  margin-left: 5px;
}
.h1-im {
  padding-bottom: 9px;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
  color: #e10707;
}
.h1-title > h1 {
  background: none repeat scroll 0 0 #f6f6f6;
  color: #565656;
  font-size: 13px;
  font-weight: bold;
  margin: 1px 0;
  padding: 5px 8px;
  line-height: 17px;
}

/* --------------add 23/07---------- */
.contact-branch {
    width: 100%;
    float: left;
}

.left-lg {
    width: 50%;
    float: left;
}

.right-lg {
    width: 50%;
    float: left;
}


.case-construction {
    width: 100%;
    float: left;
}

.img-left {
    width: 50%;
    float: left;
    text-align: center;
}

.img-left p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.img-right {
    width: 50%;
    float: left;
    text-align: center;
}

.img-right p {
  margin-top: 5px;
  margin-bottom: 5px;  
} 

.iframe-custom {
    display: block;
}

tr.iframe-custom-hide {
    display: none;
}

.pc-show {
    display: block;
}

.pc-hide {
    display: none;
}

a.achievenment {
    display: none;
}

.content-banner a img {
    width: 695px;
}

.news-wrapp-mobile .mail-show-pc {
    display: block;
}

.news-wrapp-mobile .mail-show-sm {
    display: none;
}

.sroll_content .caption {
    letter-spacing: -0.8px;
}

.mail-custombg1 {
  background: url("/../static/images/button1.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  color: #0054a8;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 34px;
  line-height: 22px;
  margin-top: 7px;
  padding-left: 27px;
  text-indent: -9999px;
  width: 304px;
}

.mail-custombg2 {
  background: url("/../static/images/button2.png") no-repeat scroll left center rgba(0, 0, 0, 0);
  color: #0054a8;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 34px;
  line-height: 22px;
  margin-top: 7px;
  padding-left: 27px;
  text-indent: -9999px;
  width: 304px;
}