@charset "UTF-8";

/* 
==================================================
content900
==================================================
 */
#content900 {
	width:900px;
}

.bukken900 {
	width:900px;
	background-color:#f4f4f4;
	background-repeat:no-repeat;
	display:block;
	margin-bottom:20px;
	padding:10px 5px 5px 5px;
}

#content900 h3.main-title {
	width:900px;
	height:60px;
	background-image:url(../img/base_title_main.jpg);
	background-repeat:no-repeat;
	display:block;
	margin-bottom:5px;
	margin-top:15px;
}
#container900 h3.main-title span {
	padding-left:24px;
	font-size:140%;
	font-weight:bold;
	color:#FFFFFF;
	padding-top:18px;
	display:block;
}
#content900 h3.sub-title span {
	padding-left:24px;
	font-size:140%;
	font-weight:bold;
	color:#FFFFFF;
	padding-top:18px;
	display:block;
}


#content900 h4.sub-title2 {
	width:900px;
	height:28px;
	padding-top:7px;
	background-image:url(../img/900base_title_sub.gif);
	background-repeat:no-repeat;
	display:block;
	margin-bottom:15px;
}
#content900 h4.sub-title2 span {
	padding-left:17px;
	font-size:110%;
	font-weight:bold;
}


#container900 h3.main-title-g {
	width:890px;
	height:60px;
	background-image:url(../img/base_title_main-g.gif);
	background-repeat:no-repeat;
	display:block;
	margin-bottom:5px;
	margin-top:15px;
}
#container900 h3.main-title-g span {
	padding-left:24px;
	font-size:140%;
	font-weight:bold;
	color:#FFFFFF;
	padding-top:18px;
	display:block;
}


#container900 h4.sub-title {
	width:650px;
	height:28px;
	padding-top:7px;
	background-image:url(../img/base_title_sub.gif);
	background-repeat:no-repeat;
	display:block;
	margin-bottom:15px;
}
#container900 h4.sub-title span {
	padding-left:17px;
	font-size:110%;
	font-weight:bold;
}

#container900 .item-title {
	border-bottom:dotted 1px #deb310;
	padding-bottom:5px;
	margin-bottom:7px;
}
#container900 .item-title885 {
	width:885px;
	border-bottom:dotted 1px #deb310;
	padding-bottom:5px;
	margin-bottom:7px;
	margin-left:5px;
}
#container900 .item-title885 h5 {
	background-image:url(../img/base_title_item.gif);
	background-position:0 0.3em;
	background-repeat:no-repeat;
	padding:0 0 0 10px;
	font-weight:bold;
	font-size:16px;
	color:#00523a;
}
#container900 .item-title h5 {
	background-image:url(../img/base_title_item.gif);
	background-position:0 0.3em;
	background-repeat:no-repeat;
	padding:0 0 0 10px;
	font-weight:bold;
	font-size:16px;
	color:#3b2807;
}
.item-title-880 {
	width:880px;
	border-bottom:dotted 1px #3b2807;
	padding:0 0 5px 5px;
	margin-bottom:7px;
}
.item-title-880 h5 {
	background-image:url(../img/base_title_item.gif);
	background-position:0 0.3em;
	background-repeat:no-repeat;
	padding:0 0 0 10px;
	font-weight:bold;
	font-size:14px;
	color:#3b2807;
}
#container900 .midashi h6 {

	background-position:0 0.3em;
	background-repeat:no-repeat;
	padding:10px 0 5px 0px;
	font-weight:bold;
	color:#3b2807;
}
#container900 .midashi h7 {
	background-position:0 0.3em;
	background-repeat:no-repeat;
	padding:10px 0 5px 0px;
	font-weight:bold;
	color:#3a75be;
}
.komento2 {
	width:450px;
 	margin: 5px 0 15px 15px;
	text-align: left;
	padding:5px 5px 5px 10px;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	background-color:#cccccc;
	border:solid 1px #b6b2b2;
}
.komento2-center {
	width:450px;
 	margin: 5px 0 15px 15px;
	text-align: center;
	padding:5px 5px 5px 10px;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	background-color:#cccccc;
	border:solid 1px #b6b2b2;
}

.tyuui {
 	margin:0;
	text-align: left;
	padding:0px 0 5px 5px;
	font-size: 11px;
	color: #333333;
}
.tyuui-c {
 	margin:0;
	text-align: center;
	padding:5px 0 5px 5px;
	font-size: 11px;
	color: #333333;
}
.bukken-tyuui {
	width:870px;
 	margin:0;
	text-align: left;
	padding:0px 0 5px 15px;
	font-size: 11px;
	color: #333333;
	line-height:16px;
}


/* 
==================================================
content900 共用　右・左
==================================================
 */
#content-left {
	width:430px;
	padding:0px 20px 0px 0px;
	float:left;
}
#content-right {
	padding:0px 10px 0px 0px;
	width:430px;
	float:right;
}

/* 
==================================================
#bukken1　sec1
==================================================
 */
#bukken.page1 #content .sec2 .image1 {
	background-image:url(../img/syashin1.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	padding-left:180px;
}
div#bukken-left-big {
	width:500px;
	float:left;
 	margin: 0px;
	padding:0px;
}
.big-photo1{
	width:500px;
 	margin-left: 5px;
 	margin-top: 7px;
	padding:5px;
	border:solid 1px #CCCCCC;
}
.setumei-photowaku500{
	width:500px;
	height:120px;
 	margin-left: 5px;
 	margin-top: 7px;
	padding:5px;
	border:solid 1px #CCCCCC;
	line-height:20px;
}
.s-photowaku{
	width:340px;
	padding:5px;
 	margin-bottom: 3px;
	border:solid 1px #CCCCCC;
}
.s-photowaku280{
	width:280px;
	padding:5px;
 	margin-bottom: 3px;
	border:solid 1px #CCCCCC;
}
.s-photowaku200{
	width:200px;
	padding:5px;
 	margin-bottom: 3px;
	border:solid 1px #CCCCCC;
}
div#bukken-right-big {
	width:380px;
	float:right;
}
div#syuhenphoto-left {
	float:left;
 	margin: 0px;
	padding:0px;
}
.s-photo{
	width:370px;
 	margin-left: 5px;
 	margin-top: 3px;
	padding:5px;
}
.setumei {
 	margin:0;
	text-align: left;
	padding:0px 0 10px 5px;
	font-size: 12px;
	color: #333333;
	line-height:14px;
}
.setumei-photowaku100{
	width:340px;
	height:100px;
	padding:3px;
 	margin-bottom: 3px;
	border:solid 1px #CCCCCC;
	line-height:18px;
}
.setumei-photowaku120{
	width:340px;
	height:105px;
	padding:3px;
 	margin-bottom: 3px;
	border:solid 1px #CCCCCC;
	line-height:18px;
}
.setumei-photowaku65{
	width:340px;
	height:65px;
	padding:3px;
 	margin-bottom: 3px;
	border:solid 1px #CCCCCC;
	line-height:18px;
}
.mini-photo{
	width:500px;
 	margin-left: 0px;
 	margin-top: 3px;
	padding:5px;
}
.mini-photowaku{
	width:110px;
	padding:5px;
	border:solid 1px #CCCCCC;
}
div#bukken-right-big h2{
	font-size:16px;
	color: #FF6600;
 	margin-bottom: 10px;
	padding:5px 5px 3px 5px;

}

div#bukken-right-big ul{
	display:block;
	position:relative;
}

div#bukken-right-big li{
	width:440px;
	font-size:13px;
	display:block;
	position:relative;
 	margin-top: 5px;
 	margin-left: 20px;
	padding-left:12px;
	padding-right:5px;
	padding-bottom:3px;
	line-height:24px;
	border-bottom:solid 1px #CCCCCC;
	background:url(../img/base_title_item.gif) 0 0.4em no-repeat;
}

div#clearbox {
 clear:both;
 margin: 0;
 text-align: center;
}
.aikon-big {
	width:460px;
	text-align:right;
	padding-top:10px;
	padding-bottom:5px;
	padding-left:15px;
	font-size: 12px;
	color: #cf5050;
	font-weight: bold;
}
.bukken900 .t-box {
	padding:0 10px;
 	margin-bottom: 5px;
	line-height:1.6em;
	font-size: 12px;
	color: #333333;
}
.bukkenmei{
	width:880px;
 	margin-left: 0px;
 	margin-top: 7px;
	padding:5px;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	border:solid 1px #CCCCCC;
	background:url(../img/bukkenmei-b.gif);

}
.map2
      {　/* Googlemapを使う場合 */
	text-align: center;
	width:700px;
        margin: 5px auto;
	padding:8px;
	border:solid 1px #cccccc;
	background-color:#ffffff;
      }

.map   {　/* 作成した地図を使う場合 */
	text-align: center;
	width:510px;
        margin: 5px auto;
	padding:8px;
	border:solid 1px #cccccc;
	background-color:#ededed;
      }

.kagutuki {
	text-align: left;
	width:420px;
	height:20px;
	padding:5px 0px 2px 0px;
}
.kagutuki .right{
	text-align: right;
	width:55px;
	height:20px;
	padding:5px 0px 2px 0px;
}
#madoriinfo-area {
	margin:0 auto;
	width:450px;
	padding-top:15px;
	text-align: left;

}
#madoriinfo-area #area-left {
 	margin: 0px;
	width:190px;
	padding:0px 0px 10px 0px;
	float:left;
}
#madoriinfo-area #area-left ul {
	padding:10px 0px 0px 0px;
	display:block;
	position:relative;
}
.madori-tya {
	width:190px;
	height:90px;
	background-image:url(../img/madoritype420-b.gif);
	background-repeat:no-repeat;
}
#area-left li{
	width:190px;
	font-size:15px;
	display:block;
	font-weight: bold;
	position:relative;
 	margin-top: 0px;
 	margin-left: 0px;
	padding-left:12px;
	padding-right:5px;
	padding-bottom:0px;
	line-height:18px;
	background:url(../img/base_arrow1.gif) 0 0.3em no-repeat;
}
#madoriinfo-area #area-right {
 	margin: 0px;
	padding:0px 0px 10px 0px;
	width:190px;
	float:right;
}
#madoriinfo-area #area-right ul {
	padding:10px 0px 0px 0px;
	display:block;
	position:relative;
}

#area-right li{
	width:190px;
	font-size:13px;
	display:block;
	font-weight: bold;
	position:relative;
 	margin-top: 0px;
 	margin-left: 0px;
	padding-left:12px;
	padding-right:5px;
	padding-bottom:0px;
	line-height:18px;
	background:url(../img/base_arrow1.gif) 0 0.3em no-repeat;
}


/* 
==================================================
table
==================================================
 */
.tablecenter
      {
	text-align: left;
	width:800px;
        margin: 0px auto;
	padding:3px;
      }
.tb2 {
	font-size: 100%;
	text-align: left;
	color: #333333;
 	background: #ffffff;
	padding: 3px 8px;
        border:1px solid #cccccc;
	line-height: 22px;

}
.tb2-a {
	font-size: 100%;
	text-align: left;
	color: #333333;
 	background: #ffffff;
	padding: 3px 8px;
        border-bottom:1px solid #cccccc;
        border-left:1px solid #cccccc;
        border-right:1px solid #cccccc;
	line-height: 22px;
}
.tb2-b {
	font-size: 12px;
	text-align: left;
	color: #333333;
 	background: #e5e5e5;
	padding: 5px;
        border:1px solid #cccccc;
	line-height: 24px;
	font-weight: bold;

}
.tb2-c {
	font-size: 12px;
	text-align: center;
	color: #333333;
	padding: 3px;
        border:1px solid #cccccc;
	line-height: 22px;
 	background: #e5e5e5;
	font-weight: bold;

}
.tb2-d {
	font-size: 100%;
	text-align: left;
	color: #333333;
 	background: #ffffff;
	padding: 3px 8px;
        border-top:1px solid #cccccc;
        border-left:1px solid #cccccc;
        border-right:1px solid #cccccc;
	line-height: 22px;
}
.tb2-r {
	font-size: 12px;
	text-align: right;
	color: #333333;
 	background: #d9eaff;
	padding: 5px;
        border:1px solid #cccccc;
	line-height: 24px;
}
.tb3 {
	font-size: 12px;
	text-align: left;
	color: #333333;
 	background: #ffffff;
	padding: 5px;
	line-height: 18px;
	vertical-align: top;
}
.tb3-b {
	font-size: 13px;
	text-align: left;
	color: #333333;
 	background: #ffffff;
	padding: 5px;
	line-height: 13px;
	vertical-align: top;
	font-weight: bold;
}
.tb3-c {
	font-size: 12px;
	text-align: center;
	color: #333333;
 	background: #ffffff;
	padding: 5px;
	line-height: 24px;
}
.tb4{
	text-align: left;
 	background: #ffffff;
	padding: 5px 0;
	vertical-align: top;
	font-weight: bold;
}
      *.float-left
      {
         float: left;
         margin: 5px;
	padding:3px;
	border:solid 1px #cccccc;
	background-color:#ededed;
      }
      *.float-right
      {
         float: right;
         margin: 5px;
	padding:3px;
	border:solid 1px #cccccc;
	background-color:#ededed;
      }
      *.floatclear
      {
         clear: both;
      }
.float-left
      {
         float: left;
         margin: 5px;
	padding:3px;
	border:solid 1px #cccccc;
	background-color:#ededed;
      }
.float-right
      {
         float: right;
         margin: 5px;
	padding:3px;
	border:solid 1px #cccccc;
	background-color:#ededed;
      }
.floatclear
      {
         clear: both;
      }
